# Working with text files

### Bogumił Kamiński

In this notebook we will show how one can interact with CSV files when working with DataFrames.

In [1]:
using DataFrames

In [2]:
using CSV

In [3]:
using Arrow

In [4]:
using Statistics

First we download the data set we will work with and save it as auto.txt file in a current working directory.

In [5]:
download("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original",
         "auto.txt")

"auto.txt"

Let us check how the file looks inside using the `readlines` function:

In [6]:
readlines("auto.txt")

406-element Vector{String}:
 "18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t\"chevrolet chevelle malibu\""
 "15.0   8.   350.0      165.0      3693.      11.5   70.  1.\t\"buick skylark 320\""
 "18.0   8.   318.0      150.0      3436.      11.0   70.  1.\t\"plymouth satellite\""
 "16.0   8.   304.0      150.0      3433.      12.0   70.  1.\t\"amc rebel sst\""
 "17.0   8.   302.0      140.0      3449.      10.5   70.  1.\t\"ford torino\""
 "15.0   8.   429.0      198.0      4341.      10.0   70.  1.\t\"ford galaxie 500\""
 "14.0   8.   454.0      220.0      4354.       9.0   70.  1.\t\"chevrolet impala\""
 "14.0   8.   440.0      215.0      4312.       8.5   70.  1.\t\"plymouth fury iii\""
 "14.0   8.   455.0      225.0      4425.      10.0   70.  1.\t\"pontiac catalina\""
 "15.0   8.   390.0      190.0      3850.       8.5   70.  1.\t\"amc ambassador dpl\""
 "NA     4.   133.0      115.0      3090.      17.5   70.  2.\t\"citroen ds-21 pallas\""
 "NA     8.   350.0      165.0      4142.      11.5   70.  1.\t\"chevrolet chevelle concours (sw)\""
 "NA     8.   351.0      153.0      4034.      11.0   70.  1.\t\"ford torino (sw)\""
 ⋮
 "25.0   6.   181.0      110.0      2945.      16.4   82.  1.\t\"buick century limited\""
 "38.0   6.   262.0      85.00      3015.      17.0   82.  1.\t\"oldsmobile cutlass ciera (diesel)\""
 "26.0   4.   156.0      92.00      2585.      14.5   82.  1.\t\"chrysler lebaron medallion\""
 "22.0   6.   232.0      112.0      2835       14.7   82.  1.\t\"ford granada l\""
 "32.0   4.   144.0      96.00      2665.      13.9   82.  3.\t\"toyota celica gt\""
 "36.0   4.   135.0      84.00      2370.      13.0   82.  1.\t\"dodge charger 2.2\""
 "27.0   4.   151.0      90.00      2950.      17.3   82.  1.\t\"chevrolet camaro\""
 "27.0   4.   140.0      86.00      2790.      15.6   82.  1.\t\"ford mustang gl\""
 "44.0   4.   97.00      52.00      2130.      24.6   82.  2.\t\"vw pickup\""
 "32.0   4.   135.0      84.00      2295.      11.6   82.  1.\t\"dodge rampage\""
 "28.0   4.   120.0      79.00      2625.      18.6   82.  1.\t\"ford ranger\""
 "31.0   4.   119.0      82.00      2720.      19.4   82.  1.\t\"chevy s-10\""

For this exercise we have chosen a typical file, which in practice means that things are not trivial.
* first we note that it has no header with column names.
* second, we see that the last column is tab separated, while earlier columns are separated with varying number of spaces
* finally we see that missing values are encoded by "NA" in this file

We will show several options how the file can be parsed to a `DataFrame`.
The first one is to replace tabs with spaces in the source file, and then load it using `CSV.File` command.

We start by getting the contents of the file into a single string.

In [7]:
raw_str = read("auto.txt", String)

"18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t\"chevrolet chevelle malibu\"\n15.0   8.   350.0      165.0      3693.      11.5   70.  1.\t\"buick skylark 320\"\n18.0   8.   318.0      150.0      3436.      11.0   70.  1.\t\"plymouth satellite\"\n16.0   8.   304.0      150.0      3433.      12.0   70.  1.\t\"amc rebel sst\"\n17.0   8.   302.0      140.0      3449.      10.5   70.  1.\t\"ford torino\"\n15.0   8.   429.0      198.0      4341.      10.0   70.  1.\t\"ford galaxie 500\"\n14.0   8.   454.0      220.0      4354.       9.0   70.  1.\t\"chevrolet impala\"\n14.0   8.   440.0      215.0      4312.       8.5   70.  1.\t\"plymouth fury iii\"\n14.0   8.   455.0      225.0      4425.      10.0   70.  1.\t\"pontiac catalina\"\n15.0   8.   390.0      190.0      3850.       8.5   70.  1.\t\"amc ambassador dpl\"\nNA     4.   133.0      115.0      3090.      17.5   70.  2.\t\"citroen ds-21 pallas\"\nNA     8.   350.0      165.0      4142.      11.5   70.  1.\t\"chevrolet chevelle concours (sw)\"\nNA     8.   351.0      153.0      4034.      11.0   70.  1.\t\"ford torino (sw)\"\nNA     8.   383.0      175.0      4166.      10.5   70.  1.\t\"plymouth satellite (sw)\"\nNA     8.   360.0      175.0      3850.      11.0   70.  1.\t\"amc rebel sst (sw)\"\n15.0   8.   383.0      170.0      3563.      10.0   70.  1.\t\"dodge challenger se\"\n14.0   8.   340.0      160.0      3609.       8.0   70.  1.\t\"plymouth 'cuda 340\"\nNA     8.   302.0      140.0      3353.       8.0   70.  1.\t\"ford mustang boss 302\"\n15.0   8.   400.0      150.0      3761.       9.5   70.  1.\t\"chevrolet monte carlo\"\n14.0   8.   455.0      225.0      3086.      10.0   70.  1.\t\"buick estate wagon (sw)\"\n24.0   4.   113.0      95.00      2372.      15.0   70.  3.\t\"toyota corona mark ii\"\n22.0   6.   198.0      95.00      2833.      15.5   70.  1.\t\"plymouth duster\"\n18.0   6.   199.0      97.00      2774.      15.5   70.  1.\t\"amc hornet\"\n21.0   6.   200.0      85.00      2587.      16.0   70.  1.\t\"ford maverick\"\n27.0   4.   97.00      88.00      2130.      14.5   70.  3.\t\"datsun pl510\"\n26.0   4.   97.00      46.00      1835.      20.5   70.  2.\t\"volkswagen 1131 deluxe sedan\"\n25.0   4.   110.0      87.00      2672.      17.5   70.  2.\t\"peugeot 504\"\n24.0   4.   107.0      90.00      2430.      14.5   70.  2.\t\"audi 100 ls\"\n25.0   4.   104.0      95.00      2375.      17.5   70.  2.\t\"saab 99e\"\n26.0   4.   121.0      113.0      2234.      12.5   70.  2.\t\"bmw 2002\"\n21.0   6.   199.0      90.00      2648.      15.0   70.  1.\t\"amc gremlin\"\n10.0   8.   360.0      215.0      4615.      14.0   70.  1.\t\"ford f250\"\n10.0   8.   307.0      200.0      4376.      15.0   70.  1.\t\"chevy c20\"\n11.0   8.   318.0      210.0      4382.      13.5   70.  1.\t\"dodge d200\"\n9.0   8.   304.0      193.0      4732.      18.5   70.  1.\t\"hi 1200d\"\n27.0   4.   97.00      88.00      2130.      14.5   71.  3.\t\"datsun pl510\"\n28.0   4.   140.0      90.00      2264.      15.5   71.  1.\t\"chevrolet vega 2300\"\n25.0   4.   113.0      95.00      2228.      14.0   71.  3.\t\"toyota corona\"\n25.0   4.   98.00      NA         2046.      19.0   71.  1.\t\"ford pinto\"\nNA     4.   97.00      48.00      1978.      20.0   71.  2.\t\"volkswagen super beetle 117\"\n19.0   6.   232.0      100.0      2634.      13.0   71.  1.\t\"amc gremlin\"\n16.0   6.   225.0      105.0      3439.      15.5   71.  1.\t\"plymouth satellite custom\"\n17.0   6.   250.0      100.0      3329.      15.5   71.  1.\t\"chevrolet chevelle malibu\"\n19.0   6.   250.0      88.00      3302.      15.5   71.  1.\t\"ford torino 500\"\n18.0   6.   232.0      100.0      3288.      15.5   71.  1.\t\"amc matador\"\n14.0   8.   350.0      165.0      4209.      12.0   71.  1.\t\"chevrolet impala\"\n14.0   8.   400.0      175.0      4464.      11.5   71.  1.\t\"pontiac catalina brougham\"\n14.0   8.   351.0      153.0      4154.      13.5   71.  1.\t\"ford galaxie 500\"\n14.0   8.   318.0      150.0      4096.      13.0   71.  1.\t\"plymouth fury iii\"\n12.0   8.   383.0      180.0      4955.      11.5   71.  1.\t\"dodge monaco (sw)\"\n13.0   8.   400.0      170.0      4746.      12.0   71.  1.\t\"ford country squire (sw)\"\n13.0   8.   400.0      175.0      5140.      12.0   71.  1.\t\"pontiac safari (sw)\"\n18.0   6.   258.0      110.0      2962.      13.5   71.  1.\t\"amc hornet sportabout (sw)\"\n22.0   4.   140.0      72.00      2408.      19.0   71.  1.\t\"chevrolet vega (sw)\"\n19.0   6.   250.0      100.0      3282.      15.0   71.  1.\t\"pontiac firebird\"\n18.0   6.   250.0      88.00      3139.      14.5   71.  1.\t\"ford mustang\"\n23.0   4.   122.0      86.00      2220.      14.0   71.  1.\t\"mercury capri 2000\"\n28.0   4.   116.0      90.00      2123.      14.0   71.  2.\t\"opel 1900\"\n30.0   4.   79.00      70.00      2074.      19.5   71.  2.\t\"peugeot 304\"\n30.0   4.   88.00      76.00      2065.      14.5   71.  2.\t\"fiat 124b\"\n31.0   4.   71.00      65.00      1773.      19.0   71.  3.\t\"toyota corolla 1200\"\n35.0   4.   72.00      69.00      1613.      18.0   71.  3.\t\"datsun 1200\"\n27.0   4.   97.00      60.00      1834.      19.0   71.  2.\t\"volkswagen model 111\"\n26.0   4.   91.00      70.00      1955.      20.5   71.  1.\t\"plymouth cricket\"\n24.0   4.   113.0      95.00      2278.      15.5   72.  3.\t\"toyota corona hardtop\"\n25.0   4.   97.50      80.00      2126.      17.0   72.  1.\t\"dodge colt hardtop\"\n23.0   4.   97.00      54.00      2254.      23.5   72.  2.\t\"volkswagen type 3\"\n20.0   4.   140.0      90.00      2408.      19.5   72.  1.\t\"chevrolet vega\"\n21.0   4.   122.0      86.00      2226.      16.5   72.  1.\t\"ford pinto runabout\"\n13.0   8.   350.0      165.0      4274.      12.0   72.  1.\t\"chevrolet impala\"\n14.0   8.   400.0      175.0      4385.      12.0   72.  1.\t\"pontiac catalina\"\n15.0   8.   318.0      150.0      4135.      13.5   72.  1.\t\"plymouth fury iii\"\n14.0   8.   351.0      153.0      4129.      13.0   72.  1.\t\"ford galaxie 500\"\n17.0   8.   304.0      150.0      3672.      11.5   72.  1.\t\"amc ambassador sst\"\n11.0   8.   429.0      208.0      4633.      11.0   72.  1.\t\"mercury marquis\"\n13.0   8.   350.0      155.0      4502.      13.5   72.  1.\t\"buick lesabre custom\"\n12.0   8.   350.0      160.0      4456.      13.5   72.  1.\t\"oldsmobile delta 88 royale\"\n13.0   8.   400.0      190.0      4422.      12.5   72.  1.\t\"chrysler newport royal\"\n19.0   3.   70.00      97.00      2330.      13.5   72.  3.\t\"mazda rx2 coupe\"\n15.0   8.   304.0      150.0      3892.      12.5   72.  1.\t\"amc matador (sw)\"\n13.0   8.   307.0      130.0      4098.      14.0   72.  1.\t\"chevrolet chevelle concours (sw)\"\n13.0   8.   302.0      140.0      4294.      16.0   72.  1.\t\"ford gran torino (sw)\"\n14.0   8.   318.0      150.0      4077.      14.0   72.  1.\t\"plymouth satellite custom (sw)\"\n18.0   4.   121.0      112.0      2933.      14.5   72.  2.\t\"volvo 145e (sw)\"\n22.0   4.   121.0      76.00      2511.      18.0   72.  2.\t\"volkswagen 411 (sw)\"\n21.0   4.   120.0      87.00      2979.      19.5   72.  2.\t\"peugeot 504 (sw)\"\n26.0   4.   96.00      69.00      2189.      18.0   72.  2.\t\"renault 12 (sw)\"\n22.0   4.   122.0      86.00      2395.      16.0   72.  1.\t\"ford pinto (sw)\"\n28.0   4.   97.00      92.00      2288.      17.0   72.  3.\t\"datsun 510 (sw)\"\n23.0   4.   120.0      97.00      2506.      14.5   72.  3.\t\"toyouta corona mark ii (sw)\"\n28.0   4.   98.00      80.00      2164.      15.0   72.  1.\t\"dodge colt (sw)\"\n27.0   4.   97.00      88.00      2100.      16.5   72.  3.\t\"toyota corolla 1600 (sw)\"\n13.0   8.   350.0      175.0      4100.      13.0   73.  1.\t\"buick century 350\"\n14.0   8.   304.0      150.0      3672.      11.5   73.  1.\t\"amc matador\"\n13.0   8.   350.0      145.0      3988.      13.0   73.  1.\t\"chevrolet malibu\"\n14.0   8.   302.0      137.0      4042.      14.5   73.  1.\t\"ford gran torino\"\n15.0   8.   318.0      150.0      3777.      12.5   73.  1.\t\"dodge coronet custom\"\n12.0   8.   429.0      198.0      4952.      11.5   73.  1.\t\"mercury marquis brougham\"\n13.0   8.   400.0      150.0      4464.      12.0   73.  1.\t\"chevrolet caprice classic\"\n13.0   8.   351.0      158.0      4363.      13.0   73.  1.\t\"ford ltd\"\n14.0   8.   318.0      150.0      4237.      14.5   73.  1.\t\"plymouth fury gran sedan\"\n13.0   8.   440.0      215.0      4735.      11.0   73.  1.\t\"chrysler new yorker brougham\"\n12.0   8.   455.0      225.0      4951.      11.0   73.  1.\t\"buick electra 225 custom\"\n13.0   8.   360.0      175.0      3821.      11.0   73.  1.\t\"amc ambassador brougham\"\n18.0   6.   225.0      105.0      3121.      16.5   73.  1.\t\"plymouth valiant\"\n16.0   6.   250.0      100.0      3278.      18.0   73.  1.\t\"chevrolet nova custom\"\n18.0   6.   232.0      100.0      2945.      16.0   73.  1.\t\"amc hornet\"\n18.0   6.   250.0      88.00      3021.      16.5   73.  1.\t\"ford maverick\"\n23.0   6.   198.0      95.00      2904.      16.0   73.  1.\t\"plymouth duster\"\n26.0   4.   97.00      46.00      1950.      21.0   73.  2.\t\"volkswagen super beetle\"\n11.0   8.   400.0      150.0      4997.      14.0   73.  1.\t\"chevrolet impala\"\n12.0   8.   400.0      167.0      4906.      12.5   73.  1.\t\"ford country\"\n13.0   8.   360.0      170.0      4654.      13.0   73.  1.\t\"plymouth custom suburb\"\n12.0   8.   350.0      180.0      4499.      12.5   73.  1.\t\"oldsmobile vista cruiser\"\n18.0   6.   232.0      100.0      2789.      15.0   73.  1.\t\"amc gremlin\"\n20.0   4.   97.00      88.00      2279.      19.0   73.  3.\t\"toyota carina\"\n21.0   4.   140.0      72.00      2401.      19.5   73.  1.\t\"chevrolet vega\"\n22.0   4.   108.0      94.00      2379.      16.5   73.  3.\t\"datsun 610\"\n18.0   3.   70.00      90.00      2124.      13.5   73.  3.\t\"maxda rx3\"\n19.0   4.   122.0      85.00      2310.      18.5   73.  1.\t\"ford pinto\"\n21.0   6.   155.0      107.0      2472.      14.0   73.  1.\t\"mercury capri v6\"\n26.0   4.   98.00      90.00      2265.      15.5   73.  2.\t\"fiat 124 sport coupe\"\n15.0   8.   350.0      145.0      4082.      13.0   73.  1.\t\"chevrolet monte carlo s\"\n16.0   8.   400.0      230.0      4278.      9.50   73.  1.\t\"pontiac grand prix\"\n29.0   4.   68.00      49.00      1867.      19.5   73.  2.\t\"fiat 128\"\n24.0   4.   116.0      75.00      2158.      15.5   73.  2.\t\"opel manta\"\n20.0   4.   114.0      91.00      2582.      14.0   73.  2.\t\"audi 100ls\"\n19.0   4.   121.0      112.0      2868.      15.5   73.  2.\t\"volvo 144ea\"\n15.0   8.   318.0      150.0      3399.      11.0   73.  1.\t\"dodge dart custom\"\n24.0   4.   121.0      110.0      2660.      14.0   73.  2.\t\"saab 99le\"\n20.0   6.   156.0      122.0      2807.      13.5   73.  3.\t\"toyota mark ii\"\n11.0   8.   350.0      180.0      3664.      11.0   73.  1.\t\"oldsmobile omega\"\n20.0   6.   198.0      95.00      3102.      16.5   74.  1.\t\"plymouth duster\"\n21.0   6.   200.0      NA         2875.      17.0   74.  1.\t\"ford maverick\"\n19.0   6.   232.0      100.0      2901.      16.0   74.  1.\t\"amc hornet\"\n15.0   6.   250.0      100.0      3336.      17.0   74.  1.\t\"chevrolet nova\"\n31.0   4.   79.00      67.00      1950.      19.0   74.  3.\t\"datsun b210\"\n26.0   4.   122.0      80.00      2451.      16.5   74.  1.\t\"ford pinto\"\n32.0   4.   71.00      65.00      1836.      21.0   74.  3.\t\"toyota corolla 1200\"\n25.0   4.   140.0      75.00      2542.      17.0   74.  1.\t\"chevrolet vega\"\n16.0   6.   250.0      100.0      3781.      17.0   74.  1.\t\"chevrolet chevelle malibu classic\"\n16.0   6.   258.0      110.0      3632.      18.0   74.  1.\t\"amc matador\"\n18.0   6.   225.0      105.0      3613.      16.5   74.  1.\t\"plymouth satellite sebring\"\n16.0   8.   302.0      140.0      4141.      14.0   74.  1.\t\"ford gran torino\"\n13.0   8.   350.0      150.0      4699.      14.5   74.  1.\t\"buick century luxus (sw)\"\n14.0   8.   318.0      150.0      4457.      13.5   74.  1.\t\"dodge coronet custom (sw)\"\n14.0   8.   302.0      140.0      4638.      16.0   74.  1.\t\"ford gran torino (sw)\"\n14.0   8.   304.0      150.0      4257.      15.5   74.  1.\t\"amc matador (sw)\"\n29.0   4.   98.00      83.00      2219.      16.5   74.  2.\t\"audi fox\"\n26.0   4.   79.00      67.00      1963.      15.5   74.  2.\t\"volkswagen dasher\"\n26.0   4.   97.00      78.00      2300.      14.5   74.  2.\t\"opel manta\"\n31.0   4.   76.00      52.00      1649.      16.5   74.  3.\t\"toyota corona\"\n32.0   4.   83.00      61.00      2003.      19.0   74.  3.\t\"datsun 710\"\n28.0   4.   90.00      75.00      2125.      14.5   74.  1.\t\"dodge colt\"\n24.0   4.   90.00      75.00      2108.      15.5   74.  2.\t\"fiat 128\"\n26.0   4.   116.0      75.00      2246.      14.0   74.  2.\t\"fiat 124 tc\"\n24.0   4.   120.0      97.00      2489.      15.0   74.  3.\t\"honda civic\"\n26.0   4.   108.0      93.00      2391.      15.5   74.  3.\t\"subaru\"\n31.0   4.   79.00      67.00      2000.      16.0   74.  2.\t\"fiat x1.9\"\n19.0   6.   225.0      95.00      3264.      16.0   75.  1.\t\"plymouth valiant custom\"\n18.0   6.   250.0      105.0      3459.      16.0   75.  1.\t\"chevrolet nova\"\n15.0   6.   250.0      72.00      3432.      21.0   75.  1.\t\"mercury monarch\"\n15.0   6.   250.0      72.00      3158.      19.5   75.  1.\t\"ford maverick\"\n16.0   8.   400.0      170.0      4668.      11.5   75.  1.\t\"pontiac catalina\"\n15.0   8.   350.0      145.0      4440.      14.0   75.  1.\t\"chevrolet bel air\"\n16.0   8.   318.0      150.0      4498.      14.5   75.  1.\t\"plymouth grand fury\"\n14.0   8.   351.0      148.0      4657.      13.5   75.  1.\t\"ford ltd\"\n17.0   6.   231.0      110.0      3907.      21.0   75.  1.\t\"buick century\"\n16.0   6.   250.0      105.0      3897.      18.5   75.  1.\t\"chevroelt chevelle malibu\"\n15.0   6.   258.0      110.0      3730.      19.0   75.  1.\t\"amc matador\"\n18.0   6.   225.0      95.00      3785.      19.0   75.  1.\t\"plymouth fury\"\n21.0   6.   231.0      110.0      3039.      15.0   75.  1.\t\"buick skyhawk\"\n20.0   8.   262.0      110.0      3221.      13.5   75.  1.\t\"chevrolet monza 2+2\"\n13.0   8.   302.0      129.0      3169.      12.0   75.  1.\t\"ford mustang ii\"\n29.0   4.   97.00      75.00      2171.      16.0   75.  3.\t\"toyota corolla\"\n23.0   4.   140.0      83.00      2639.      17.0   75.  1.\t\"ford pinto\"\n20.0   6.   232.0      100.0      2914.      16.0   75.  1.\t\"amc gremlin\"\n23.0   4.   140.0      78.00      2592.      18.5   75.  1.\t\"pontiac astro\"\n24.0   4.   134.0      96.00      2702.      13.5   75.  3.\t\"toyota corona\"\n25.0   4.   90.00      71.00      2223.      16.5   75.  2.\t\"volkswagen dasher\"\n24.0   4.   119.0      97.00      2545.      17.0   75.  3.\t\"datsun 710\"\n18.0   6.   171.0      97.00      2984.      14.5   75.  1.\t\"ford pinto\"\n29.0   4.   90.00      70.00      1937.      14.0   75.  2.\t\"volkswagen rabbit\"\n19.0   6.   232.0      90.00      3211.      17.0   75.  1.\t\"amc pacer\"\n23.0   4.   115.0      95.00      2694.      15.0   75.  2.\t\"audi 100ls\"\n23.0   4.   120.0      88.00      2957.      17.0   75.  2.\t\"peugeot 504\"\n22.0   4.   121.0      98.00      2945.      14.5   75.  2.\t\"volvo 244dl\"\n25.0   4.   121.0      115.0      2671.      13.5   75.  2.\t\"saab 99le\"\n33.0   4.   91.00      53.00      1795.      17.5   75.  3.\t\"honda civic cvcc\"\n28.0   4.   107.0      86.00      2464.      15.5   76.  2.\t\"fiat 131\"\n25.0   4.   116.0      81.00      2220.      16.9   76.  2.\t\"opel 1900\"\n25.0   4.   140.0      92.00      2572.      14.9   76.  1.\t\"capri ii\"\n26.0   4.   98.00      79.00      2255.      17.7   76.  1.\t\"dodge colt\"\n27.0   4.   101.0      83.00      2202.      15.3   76.  2.\t\"renault 12tl\"\n17.5   8.   305.0      140.0      4215.      13.0   76.  1.\t\"chevrolet chevelle malibu classic\"\n16.0   8.   318.0      150.0      4190.      13.0   76.  1.\t\"dodge coronet brougham\"\n15.5   8.   304.0      120.0      3962.      13.9   76.  1.\t\"amc matador\"\n14.5   8.   351.0      152.0      4215.      12.8   76.  1.\t\"ford gran torino\"\n22.0   6.   225.0      100.0      3233.      15.4   76.  1.\t\"plymouth valiant\"\n22.0   6.   250.0      105.0      3353.      14.5   76.  1.\t\"chevrolet nova\"\n24.0   6.   200.0      81.00      3012.      17.6   76.  1.\t\"ford maverick\"\n22.5   6.   232.0      90.00      3085.      17.6   76.  1.\t\"amc hornet\"\n29.0   4.   85.00      52.00      2035.      22.2   76.  1.\t\"chevrolet chevette\"\n24.5   4.   98.00      60.00      2164.      22.1   76.  1.\t\"chevrolet woody\"\n29.0   4.   90.00      70.00      1937.      14.2   76.  2.\t\"vw rabbit\"\n33.0   4.   91.00      53.00      1795.      17.4   76.  3.\t\"honda civic\"\n20.0   6.   225.0      100.0      3651.      17.7   76.  1.\t\"dodge aspen se\"\n18.0   6.   250.0      78.00      3574.      21.0   76.  1.\t\"ford granada ghia\"\n18.5   6.   250.0      110.0      3645.      16.2   76.  1.\t\"pontiac ventura sj\"\n17.5   6.   258.0      95.00      3193.      17.8   76.  1.\t\"amc pacer d/l\"\n29.5   4.   97.00      71.00      1825.      12.2   76.  2.\t\"volkswagen rabbit\"\n32.0   4.   85.00      70.00      1990.      17.0   76.  3.\t\"datsun b-210\"\n28.0   4.   97.00      75.00      2155.      16.4   76.  3.\t\"toyota corolla\"\n26.5   4.   140.0      72.00      2565.      13.6   76.  1.\t\"ford pinto\"\n20.0   4.   130.0      102.0      3150.      15.7   76.  2.\t\"volvo 245\"\n13.0   8.   318.0      150.0      3940.      13.2   76.  1.\t\"plymouth volare premier v8\"\n19.0   4.   120.0      88.00      3270.      21.9   76.  2.\t\"peugeot 504\"\n19.0   6.   156.0      108.0      2930.      15.5   76.  3.\t\"toyota mark ii\"\n16.5   6.   168.0      120.0      3820.      16.7   76.  2.\t\"mercedes-benz 280s\"\n16.5   8.   350.0      180.0      4380.      12.1   76.  1.\t\"cadillac seville\"\n13.0   8.   350.0      145.0      4055.      12.0   76.  1.\t\"chevy c10\"\n13.0   8.   302.0      130.0      3870.      15.0   76.  1.\t\"ford f108\"\n13.0   8.   318.0      150.0      3755.      14.0   76.  1.\t\"dodge d100\"\n31.5   4.   98.00      68.00      2045.      18.5   77.  3.\t\"honda accord cvcc\"\n30.0   4.   111.0      80.00      2155.      14.8   77.  1.\t\"buick opel isuzu deluxe\"\n36.0   4.   79.00      58.00      1825.      18.6   77.  2.\t\"renault 5 gtl\"\n25.5   4.   122.0      96.00      2300.      15.5   77.  1.\t\"plymouth arrow gs\"\n33.5   4.   85.00      70.00      1945.      16.8   77.  3.\t\"datsun f-10 hatchback\"\n17.5   8.   305.0      145.0      3880.      12.5   77.  1.\t\"chevrolet caprice classic\"\n17.0   8.   260.0      110.0      4060.      19.0   77.  1.\t\"oldsmobile cutlass supreme\"\n15.5   8.   318.0      145.0      4140.      13.7   77.  1.\t\"dodge monaco brougham\"\n15.0   8.   302.0      130.0      4295.      14.9   77.  1.\t\"mercury cougar brougham\"\n17.5   6.   250.0      110.0      3520.      16.4   77.  1.\t\"chevrolet concours\"\n20.5   6.   231.0      105.0      3425.      16.9   77.  1.\t\"buick skylark\"\n19.0   6.   225.0      100.0      3630.      17.7   77.  1.\t\"plymouth volare custom\"\n18.5   6.   250.0      98.00      3525.      19.0   77.  1.\t\"ford granada\"\n16.0   8.   400.0      180.0      4220.      11.1   77.  1.\t\"pontiac grand prix lj\"\n15.5   8.   350.0      170.0      4165.      11.4   77.  1.\t\"chevrolet monte carlo landau\"\n15.5   8.   400.0      190.0      4325.      12.2   77.  1.\t\"chrysler cordoba\"\n16.0   8.   351.0      149.0      4335.      14.5   77.  1.\t\"ford thunderbird\"\n29.0   4.   97.00      78.00      1940.      14.5   77.  2.\t\"volkswagen rabbit cu

Now we replace all tabs in this string by spaces

(note that in general it is not a safe operation as theoretically if you had columns that are strings they might have contained quoted tabs; fortunately in this case they do not have them so we are safe).

In [8]:
str_no_tab = replace(raw_str, '\t'=>' ')

"18.0   8.   307.0      130.0      3504.      12.0   70.  1. \"chevrolet chevelle malibu\"\n15.0   8.   350.0      165.0      3693.      11.5   70.  1. \"buick skylark 320\"\n18.0   8.   318.0      150.0      3436.      11.0   70.  1. \"plymouth satellite\"\n16.0   8.   304.0      150.0      3433.      12.0   70.  1. \"amc rebel sst\"\n17.0   8.   302.0      140.0      3449.      10.5   70.  1. \"ford torino\"\n15.0   8.   429.0      198.0      4341.      10.0   70.  1. \"ford galaxie 500\"\n14.0   8.   454.0      220.0      4354.       9.0   70.  1. \"chevrolet impala\"\n14.0   8.   440.0      215.0      4312.       8.5   70.  1. \"plymouth fury iii\"\n14.0   8.   455.0      225.0      4425.      10.0   70.  1. \"pontiac catalina\"\n15.0   8.   390.0      190.0      3850.       8.5   70.  1. \"amc ambassador dpl\"\nNA     4.   133.0      115.0      3090.      17.5   70.  2. \"citroen ds-21 pallas\"\nNA     8.   350.0      165.0      4142.      11.5   70.  1. \"chevrolet chevelle concours (sw)\"\nNA     8.   351.0      153.0      4034.      11.0   70.  1. \"ford torino (sw)\"\nNA     8.   383.0      175.0      4166.      10.5   70.  1. \"plymouth satellite (sw)\"\nNA     8.   360.0      175.0      3850.      11.0   70.  1. \"amc rebel sst (sw)\"\n15.0   8.   383.0      170.0      3563.      10.0   70.  1. \"dodge challenger se\"\n14.0   8.   340.0      160.0      3609.       8.0   70.  1. \"plymouth 'cuda 340\"\nNA     8.   302.0      140.0      3353.       8.0   70.  1. \"ford mustang boss 302\"\n15.0   8.   400.0      150.0      3761.       9.5   70.  1. \"chevrolet monte carlo\"\n14.0   8.   455.0      225.0      3086.      10.0   70.  1. \"buick estate wagon (sw)\"\n24.0   4.   113.0      95.00      2372.      15.0   70.  3. \"toyota corona mark ii\"\n22.0   6.   198.0      95.00      2833.      15.5   70.  1. \"plymouth duster\"\n18.0   6.   199.0      97.00      2774.      15.5   70.  1. \"amc hornet\"\n21.0   6.   200.0      85.00      2587.      16.0   70.  1. \"ford maverick\"\n27.0   4.   97.00      88.00      2130.      14.5   70.  3. \"datsun pl510\"\n26.0   4.   97.00      46.00      1835.      20.5   70.  2. \"volkswagen 1131 deluxe sedan\"\n25.0   4.   110.0      87.00      2672.      17.5   70.  2. \"peugeot 504\"\n24.0   4.   107.0      90.00      2430.      14.5   70.  2. \"audi 100 ls\"\n25.0   4.   104.0      95.00      2375.      17.5   70.  2. \"saab 99e\"\n26.0   4.   121.0      113.0      2234.      12.5   70.  2. \"bmw 2002\"\n21.0   6.   199.0      90.00      2648.      15.0   70.  1. \"amc gremlin\"\n10.0   8.   360.0      215.0      4615.      14.0   70.  1. \"ford f250\"\n10.0   8.   307.0      200.0      4376.      15.0   70.  1. \"chevy c20\"\n11.0   8.   318.0      210.0      4382.      13.5   70.  1. \"dodge d200\"\n9.0   8.   304.0      193.0      4732.      18.5   70.  1. \"hi 1200d\"\n27.0   4.   97.00      88.00      2130.      14.5   71.  3. \"datsun pl510\"\n28.0   4.   140.0      90.00      2264.      15.5   71.  1. \"chevrolet vega 2300\"\n25.0   4.   113.0      95.00      2228.      14.0   71.  3. \"toyota corona\"\n25.0   4.   98.00      NA         2046.      19.0   71.  1. \"ford pinto\"\nNA     4.   97.00      48.00      1978.      20.0   71.  2. \"volkswagen super beetle 117\"\n19.0   6.   232.0      100.0      2634.      13.0   71.  1. \"amc gremlin\"\n16.0   6.   225.0      105.0      3439.      15.5   71.  1. \"plymouth satellite custom\"\n17.0   6.   250.0      100.0      3329.      15.5   71.  1. \"chevrolet chevelle malibu\"\n19.0   6.   250.0      88.00      3302.      15.5   71.  1. \"ford torino 500\"\n18.0   6.   232.0      100.0      3288.      15.5   71.  1. \"amc matador\"\n14.0   8.   350.0      165.0      4209.      12.0   71.  1. \"chevrolet impala\"\n14.0   8.   400.0      175.0      4464.      11.5   71.  1. \"pontiac catalina brougham\"\n14.0   8.   351.0      153.0      4154.      13.5   71.  1. \"ford galaxie 500\"\n14.0   8.   318.0      150.0      4096.      13.0   71.  1. \"plymouth fury iii\"\n12.0   8.   383.0      180.0      4955.      11.5   71.  1. \"dodge monaco (sw)\"\n13.0   8.   400.0      170.0      4746.      12.0   71.  1. \"ford country squire (sw)\"\n13.0   8.   400.0      175.0      5140.      12.0   71.  1. \"pontiac safari (sw)\"\n18.0   6.   258.0      110.0      2962.      13.5   71.  1. \"amc hornet sportabout (sw)\"\n22.0   4.   140.0      72.00      2408.      19.0   71.  1. \"chevrolet vega (sw)\"\n19.0   6.   250.0      100.0      3282.      15.0   71.  1. \"pontiac firebird\"\n18.0   6.   250.0      88.00      3139.      14.5   71.  1. \"ford mustang\"\n23.0   4.   122.0      86.00      2220.      14.0   71.  1. \"mercury capri 2000\"\n28.0   4.   116.0      90.00      2123.      14.0   71.  2. \"opel 1900\"\n30.0   4.   79.00      70.00      2074.      19.5   71.  2. \"peugeot 304\"\n30.0   4.   88.00      76.00      2065.      14.5   71.  2. \"fiat 124b\"\n31.0   4.   71.00      65.00      1773.      19.0   71.  3. \"toyota corolla 1200\"\n35.0   4.   72.00      69.00      1613.      18.0   71.  3. \"datsun 1200\"\n27.0   4.   97.00      60.00      1834.      19.0   71.  2. \"volkswagen model 111\"\n26.0   4.   91.00      70.00      1955.      20.5   71.  1. \"plymouth cricket\"\n24.0   4.   113.0      95.00      2278.      15.5   72.  3. \"toyota corona hardtop\"\n25.0   4.   97.50      80.00      2126.      17.0   72.  1. \"dodge colt hardtop\"\n23.0   4.   97.00      54.00      2254.      23.5   72.  2. \"volkswagen type 3\"\n20.0   4.   140.0      90.00      2408.      19.5   72.  1. \"chevrolet vega\"\n21.0   4.   122.0      86.00      2226.      16.5   72.  1. \"ford pinto runabout\"\n13.0   8.   350.0      165.0      4274.      12.0   72.  1. \"chevrolet impala\"\n14.0   8.   400.0      175.0      4385.      12.0   72.  1. \"pontiac catalina\"\n15.0   8.   318.0      150.0      4135.      13.5   72.  1. \"plymouth fury iii\"\n14.0   8.   351.0      153.0      4129.      13.0   72.  1. \"ford galaxie 500\"\n17.0   8.   304.0      150.0      3672.      11.5   72.  1. \"amc ambassador sst\"\n11.0   8.   429.0      208.0      4633.      11.0   72.  1. \"mercury marquis\"\n13.0   8.   350.0      155.0      4502.      13.5   72.  1. \"buick lesabre custom\"\n12.0   8.   350.0      160.0      4456.      13.5   72.  1. \"oldsmobile delta 88 royale\"\n13.0   8.   400.0      190.0      4422.      12.5   72.  1. \"chrysler newport royal\"\n19.0   3.   70.00      97.00      2330.      13.5   72.  3. \"mazda rx2 coupe\"\n15.0   8.   304.0      150.0      3892.      12.5   72.  1. \"amc matador (sw)\"\n13.0   8.   307.0      130.0      4098.      14.0   72.  1. \"chevrolet chevelle concours (sw)\"\n13.0   8.   302.0      140.0      4294.      16.0   72.  1. \"ford gran torino (sw)\"\n14.0   8.   318.0      150.0      4077.      14.0   72.  1. \"plymouth satellite custom (sw)\"\n18.0   4.   121.0      112.0      2933.      14.5   72.  2. \"volvo 145e (sw)\"\n22.0   4.   121.0      76.00      2511.      18.0   72.  2. \"volkswagen 411 (sw)\"\n21.0   4.   120.0      87.00      2979.      19.5   72.  2. \"peugeot 504 (sw)\"\n26.0   4.   96.00      69.00      2189.      18.0   72.  2. \"renault 12 (sw)\"\n22.0   4.   122.0      86.00      2395.      16.0   72.  1. \"ford pinto (sw)\"\n28.0   4.   97.00      92.00      2288.      17.0   72.  3. \"datsun 510 (sw)\"\n23.0   4.   120.0      97.00      2506.      14.5   72.  3. \"toyouta corona mark ii (sw)\"\n28.0   4.   98.00      80.00      2164.      15.0   72.  1. \"dodge colt (sw)\"\n27.0   4.   97.00      88.00      2100.      16.5   72.  3. \"toyota corolla 1600 (sw)\"\n13.0   8.   350.0      175.0      4100.      13.0   73.  1. \"buick century 350\"\n14.0   8.   304.0      150.0      3672.      11.5   73.  1. \"amc matador\"\n13.0   8.   350.0      145.0      3988.      13.0   73.  1. \"chevrolet malibu\"\n14.0   8.   302.0      137.0      4042.      14.5   73.  1. \"ford gran torino\"\n15.0   8.   318.0      150.0      3777.      12.5   73.  1. \"dodge coronet custom\"\n12.0   8.   429.0      198.0      4952.      11.5   73.  1. \"mercury marquis brougham\"\n13.0   8.   400.0      150.0      4464.      12.0   73.  1. \"chevrolet caprice classic\"\n13.0   8.   351.0      158.0      4363.      13.0   73.  1. \"ford ltd\"\n14.0   8.   318.0      150.0      4237.      14.5   73.  1. \"plymouth fury gran sedan\"\n13.0   8.   440.0      215.0      4735.      11.0   73.  1. \"chrysler new yorker brougham\"\n12.0   8.   455.0      225.0      4951.      11.0   73.  1. \"buick electra 225 custom\"\n13.0   8.   360.0      175.0      3821.      11.0   73.  1. \"amc ambassador brougham\"\n18.0   6.   225.0      105.0      3121.      16.5   73.  1. \"plymouth valiant\"\n16.0   6.   250.0      100.0      3278.      18.0   73.  1. \"chevrolet nova custom\"\n18.0   6.   232.0      100.0      2945.      16.0   73.  1. \"amc hornet\"\n18.0   6.   250.0      88.00      3021.      16.5   73.  1. \"ford maverick\"\n23.0   6.   198.0      95.00      2904.      16.0   73.  1. \"plymouth duster\"\n26.0   4.   97.00      46.00      1950.      21.0   73.  2. \"volkswagen super beetle\"\n11.0   8.   400.0      150.0      4997.      14.0   73.  1. \"chevrolet impala\"\n12.0   8.   400.0      167.0      4906.      12.5   73.  1. \"ford country\"\n13.0   8.   360.0      170.0      4654.      13.0   73.  1. \"plymouth custom suburb\"\n12.0   8.   350.0      180.0      4499.      12.5   73.  1. \"oldsmobile vista cruiser\"\n18.0   6.   232.0      100.0      2789.      15.0   73.  1. \"amc gremlin\"\n20.0   4.   97.00      88.00      2279.      19.0   73.  3. \"toyota carina\"\n21.0   4.   140.0      72.00      2401.      19.5   73.  1. \"chevrolet vega\"\n22.0   4.   108.0      94.00      2379.      16.5   73.  3. \"datsun 610\"\n18.0   3.   70.00      90.00      2124.      13.5   73.  3. \"maxda rx3\"\n19.0   4.   122.0      85.00      2310.      18.5   73.  1. \"ford pinto\"\n21.0   6.   155.0      107.0      2472.      14.0   73.  1. \"mercury capri v6\"\n26.0   4.   98.00      90.00      2265.      15.5   73.  2. \"fiat 124 sport coupe\"\n15.0   8.   350.0      145.0      4082.      13.0   73.  1. \"chevrolet monte carlo s\"\n16.0   8.   400.0      230.0      4278.      9.50   73.  1. \"pontiac grand prix\"\n29.0   4.   68.00      49.00      1867.      19.5   73.  2. \"fiat 128\"\n24.0   4.   116.0      75.00      2158.      15.5   73.  2. \"opel manta\"\n20.0   4.   114.0      91.00      2582.      14.0   73.  2. \"audi 100ls\"\n19.0   4.   121.0      112.0      2868.      15.5   73.  2. \"volvo 144ea\"\n15.0   8.   318.0      150.0      3399.      11.0   73.  1. \"dodge dart custom\"\n24.0   4.   121.0      110.0      2660.      14.0   73.  2. \"saab 99le\"\n20.0   6.   156.0      122.0      2807.      13.5   73.  3. \"toyota mark ii\"\n11.0   8.   350.0      180.0      3664.      11.0   73.  1. \"oldsmobile omega\"\n20.0   6.   198.0      95.00      3102.      16.5   74.  1. \"plymouth duster\"\n21.0   6.   200.0      NA         2875.      17.0   74.  1. \"ford maverick\"\n19.0   6.   232.0      100.0      2901.      16.0   74.  1. \"amc hornet\"\n15.0   6.   250.0      100.0      3336.      17.0   74.  1. \"chevrolet nova\"\n31.0   4.   79.00      67.00      1950.      19.0   74.  3. \"datsun b210\"\n26.0   4.   122.0      80.00      2451.      16.5   74.  1. \"ford pinto\"\n32.0   4.   71.00      65.00      1836.      21.0   74.  3. \"toyota corolla 1200\"\n25.0   4.   140.0      75.00      2542.      17.0   74.  1. \"chevrolet vega\"\n16.0   6.   250.0      100.0      3781.      17.0   74.  1. \"chevrolet chevelle malibu classic\"\n16.0   6.   258.0      110.0      3632.      18.0   74.  1. \"amc matador\"\n18.0   6.   225.0      105.0      3613.      16.5   74.  1. \"plymouth satellite sebring\"\n16.0   8.   302.0      140.0      4141.      14.0   74.  1. \"ford gran torino\"\n13.0   8.   350.0      150.0      4699.      14.5   74.  1. \"buick century luxus (sw)\"\n14.0   8.   318.0      150.0      4457.      13.5   74.  1. \"dodge coronet custom (sw)\"\n14.0   8.   302.0      140.0      4638.      16.0   74.  1. \"ford gran torino (sw)\"\n14.0   8.   304.0      150.0      4257.      15.5   74.  1. \"amc matador (sw)\"\n29.0   4.   98.00      83.00      2219.      16.5   74.  2. \"audi fox\"\n26.0   4.   79.00      67.00      1963.      15.5   74.  2. \"volkswagen dasher\"\n26.0   4.   97.00      78.00      2300.      14.5   74.  2. \"opel manta\"\n31.0   4.   76.00      52.00      1649.      16.5   74.  3. \"toyota corona\"\n32.0   4.   83.00      61.00      2003.      19.0   74.  3. \"datsun 710\"\n28.0   4.   90.00      75.00      2125.      14.5   74.  1. \"dodge colt\"\n24.0   4.   90.00      75.00      2108.      15.5   74.  2. \"fiat 128\"\n26.0   4.   116.0      75.00      2246.      14.0   74.  2. \"fiat 124 tc\"\n24.0   4.   120.0      97.00      2489.      15.0   74.  3. \"honda civic\"\n26.0   4.   108.0      93.00      2391.      15.5   74.  3. \"subaru\"\n31.0   4.   79.00      67.00      2000.      16.0   74.  2. \"fiat x1.9\"\n19.0   6.   225.0      95.00      3264.      16.0   75.  1. \"plymouth valiant custom\"\n18.0   6.   250.0      105.0      3459.      16.0   75.  1. \"chevrolet nova\"\n15.0   6.   250.0      72.00      3432.      21.0   75.  1. \"mercury monarch\"\n15.0   6.   250.0      72.00      3158.      19.5   75.  1. \"ford maverick\"\n16.0   8.   400.0      170.0      4668.      11.5   75.  1. \"pontiac catalina\"\n15.0   8.   350.0      145.0      4440.      14.0   75.  1. \"chevrolet bel air\"\n16.0   8.   318.0      150.0      4498.      14.5   75.  1. \"plymouth grand fury\"\n14.0   8.   351.0      148.0      4657.      13.5   75.  1. \"ford ltd\"\n17.0   6.   231.0      110.0      3907.      21.0   75.  1. \"buick century\"\n16.0   6.   250.0      105.0      3897.      18.5   75.  1. \"chevroelt chevelle malibu\"\n15.0   6.   258.0      110.0      3730.      19.0   75.  1. \"amc matador\"\n18.0   6.   225.0      95.00      3785.      19.0   75.  1. \"plymouth fury\"\n21.0   6.   231.0      110.0      3039.      15.0   75.  1. \"buick skyhawk\"\n20.0   8.   262.0      110.0      3221.      13.5   75.  1. \"chevrolet monza 2+2\"\n13.0   8.   302.0      129.0      3169.      12.0   75.  1. \"ford mustang ii\"\n29.0   4.   97.00      75.00      2171.      16.0   75.  3. \"toyota corolla\"\n23.0   4.   140.0      83.00      2639.      17.0   75.  1. \"ford pinto\"\n20.0   6.   232.0      100.0      2914.      16.0   75.  1. \"amc gremlin\"\n23.0   4.   140.0      78.00      2592.      18.5   75.  1. \"pontiac astro\"\n24.0   4.   134.0      96.00      2702.      13.5   75.  3. \"toyota corona\"\n25.0   4.   90.00      71.00      2223.      16.5   75.  2. \"volkswagen dasher\"\n24.0   4.   119.0      97.00      2545.      17.0   75.  3. \"datsun 710\"\n18.0   6.   171.0      97.00      2984.      14.5   75.  1. \"ford pinto\"\n29.0   4.   90.00      70.00      1937.      14.0   75.  2. \"volkswagen rabbit\"\n19.0   6.   232.0      90.00      3211.      17.0   75.  1. \"amc pacer\"\n23.0   4.   115.0      95.00      2694.      15.0   75.  2. \"audi 100ls\"\n23.0   4.   120.0      88.00      2957.      17.0   75.  2. \"peugeot 504\"\n22.0   4.   121.0      98.00      2945.      14.5   75.  2. \"volvo 244dl\"\n25.0   4.   121.0      115.0      2671.      13.5   75.  2. \"saab 99le\"\n33.0   4.   91.00      53.00      1795.      17.5   75.  3. \"honda civic cvcc\"\n28.0   4.   107.0      86.00      2464.      15.5   76.  2. \"fiat 131\"\n25.0   4.   116.0      81.00      2220.      16.9   76.  2. \"opel 1900\"\n25.0   4.   140.0      92.00      2572.      14.9   76.  1. \"capri ii\"\n26.0   4.   98.00      79.00      2255.      17.7   76.  1. \"dodge colt\"\n27.0   4.   101.0      83.00      2202.      15.3   76.  2. \"renault 12tl\"\n17.5   8.   305.0      140.0      4215.      13.0   76.  1. \"chevrolet chevelle malibu classic\"\n16.0   8.   318.0      150.0      4190.      13.0   76.  1. \"dodge coronet brougham\"\n15.5   8.   304.0      120.0      3962.      13.9   76.  1. \"amc matador\"\n14.5   8.   351.0      152.0      4215.      12.8   76.  1. \"ford gran torino\"\n22.0   6.   225.0      100.0      3233.      15.4   76.  1. \"plymouth valiant\"\n22.0   6.   250.0      105.0      3353.      14.5   76.  1. \"chevrolet nova\"\n24.0   6.   200.0      81.00      3012.      17.6   76.  1. \"ford maverick\"\n22.5   6.   232.0      90.00      3085.      17.6   76.  1. \"amc hornet\"\n29.0   4.   85.00      52.00      2035.      22.2   76.  1. \"chevrolet chevette\"\n24.5   4.   98.00      60.00      2164.      22.1   76.  1. \"chevrolet woody\"\n29.0   4.   90.00      70.00      1937.      14.2   76.  2. \"vw rabbit\"\n33.0   4.   91.00      53.00      1795.      17.4   76.  3. \"honda civic\"\n20.0   6.   225.0      100.0      3651.      17.7   76.  1. \"dodge aspen se\"\n18.0   6.   250.0      78.00      3574.      21.0   76.  1. \"ford granada ghia\"\n18.5   6.   250.0      110.0      3645.      16.2   76.  1. \"pontiac ventura sj\"\n17.5   6.   258.0      95.00      3193.      17.8   76.  1. \"amc pacer d/l\"\n29.5   4.   97.00      71.00      1825.      12.2   76.  2. \"volkswagen rabbit\"\n32.0   4.   85.00      70.00      1990.      17.0   76.  3. \"datsun b-210\"\n28.0   4.   97.00      75.00      2155.      16.4   76.  3. \"toyota corolla\"\n26.5   4.   140.0      72.00      2565.      13.6   76.  1. \"ford pinto\"\n20.0   4.   130.0      102.0      3150.      15.7   76.  2. \"volvo 245\"\n13.0   8.   318.0      150.0      3940.      13.2   76.  1. \"plymouth volare premier v8\"\n19.0   4.   120.0      88.00      3270.      21.9   76.  2. \"peugeot 504\"\n19.0   6.   156.0      108.0      2930.      15.5   76.  3. \"toyota mark ii\"\n16.5   6.   168.0      120.0      3820.      16.7   76.  2. \"mercedes-benz 280s\"\n16.5   8.   350.0      180.0      4380.      12.1   76.  1. \"cadillac seville\"\n13.0   8.   350.0      145.0      4055.      12.0   76.  1. \"chevy c10\"\n13.0   8.   302.0      130.0      3870.      15.0   76.  1. \"ford f108\"\n13.0   8.   318.0      150.0      3755.      14.0   76.  1. \"dodge d100\"\n31.5   4.   98.00      68.00      2045.      18.5   77.  3. \"honda accord cvcc\"\n30.0   4.   111.0      80.00      2155.      14.8   77.  1. \"buick opel isuzu deluxe\"\n36.0   4.   79.00      58.00      1825.      18.6   77.  2. \"renault 5 gtl\"\n25.5   4.   122.0      96.00      2300.      15.5   77.  1. \"plymouth arrow gs\"\n33.5   4.   85.00      70.00      1945.      16.8   77.  3. \"datsun f-10 hatchback\"\n17.5   8.   305.0      145.0      3880.      12.5   77.  1. \"chevrolet caprice classic\"\n17.0   8.   260.0      110.0      4060.      19.0   77.  1. \"oldsmobile cutlass supreme\"\n15.5   8.   318.0      145.0      4140.      13.7   77.  1. \"dodge monaco brougham\"\n15.0   8.   302.0      130.0      4295.      14.9   77.  1. \"mercury cougar brougham\"\n17.5   6.   250.0      110.0      3520.      16.4   77.  1. \"chevrolet concours\"\n20.5   6.   231.0      105.0      3425.      16.9   77.  1. \"buick skylark\"\n19.0   6.   225.0      100.0      3630.      17.7   77.  1. \"plymouth volare custom\"\n18.5   6.   250.0      98.00      3525.      19.0   77.  1. \"ford granada\"\n16.0   8.   400.0      180.0      4220.      11.1   77.  1. \"pontiac grand prix lj\"\n15.5   8.   350.0      170.0      4165.      11.4   77.  1. \"chevrolet monte carlo landau\"\n15.5   8.   400.0      190.0      4325.      12.2   77.  1. \"chrysler cordoba\"\n16.0   8.   351.0      149.0      4335.      14.5   77.  1. \"ford thunderbird\"\n29.0   4.   97.00      78.00      1940.      14.5   77.  2. \"volkswagen rabbit custom\"\n24.5   4.   151.0      88.00      2740.      16.0   77.  1. \"pontiac sunbird coupe\"\n26.0   4.   97.00      75.00      2265.      18.2   77.  3. \"toyota corolla liftback\"\n25.5   4.   140.0      89.00      2755.      15.8   77.  

Finally we create an `IOBuffer` backed by the string we have just created.

In [9]:
io = IOBuffer(str_no_tab)

IOBuffer(data=UInt8[...], readable=true, writable=false, seekable=true, append=false, size=32149, maxsize=Inf, ptr=1, mark=-1)

You can think of variable `io` as an in-memory I/O stream. Therefore we can pass this stream to the `CSV.File` function to read it as-if it were a CSV file. Note that in the options we choose that:
* the delimiter is space
* we ignore repeated (consecutive) occurences of the delimiter (so we correctly handle our file which has columns padded by spaces)
* we explicitly pass column names via `header` keyword argument
* we specify that missing values are represented using `"NA"` string in our file

Finally note that we pass the result of `CSV.File` operation to a `DataFrame` constructor using `|>`.

In [10]:
df1 = CSV.File(io,
               delim=' ',
               ignorerepeated=true,
               header=[:mpg, :cylinders, :displacement, :horsepower,
                       :weight, :acceleration, :year, :origin, :name],
               missingstring="NA") |>
      DataFrame

406×9 DataFrame
 Row │ mpg        cylinders  displacement  horsepower  weight   acceleration   ⋯
     │ Float64?   Float64    Float64       Float64?    Float64  Float64        ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      18.0        8.0         307.0       130.0   3504.0          12.0   ⋯
   2 │      15.0        8.0         350.0       165.0   3693.0          11.5
   3 │      18.0        8.0         318.0       150.0   3436.0          11.0
   4 │      16.0        8.0         304.0       150.0   3433.0          12.0
   5 │      17.0        8.0         302.0       140.0   3449.0          10.5   ⋯
   6 │      15.0        8.0         429.0       198.0   4341.0          10.0
   7 │      14.0        8.0         454.0       220.0   4354.0           9.0
   8 │      14.0        8.0         440.0       215.0   4312.0           8.5
   9 │      14.0        8.0         455.0       225.0   4425.0          10.0   ⋯
  10 │      15.0        8.0         390.0       190.0   3850.0           8.5
  11 │ missing          4.0         133.0       115.0   3090.0          17.5
  ⋮  │     ⋮          ⋮           ⋮            ⋮          ⋮          ⋮         ⋱
 397 │      26.0        4.0         156.0        92.0   2585.0          14.5
 398 │      22.0        6.0         232.0       112.0   2835.0          14.7   ⋯
 399 │      32.0        4.0         144.0        96.0   2665.0          13.9
 400 │      36.0        4.0         135.0        84.0   2370.0          13.0
 401 │      27.0        4.0         151.0        90.0   2950.0          17.3
 402 │      27.0        4.0         140.0        86.0   2790.0          15.6   ⋯
 403 │      44.0        4.0          97.0        52.0   2130.0          24.6
 404 │      32.0        4.0         135.0        84.0   2295.0          11.6
 405 │      28.0        4.0         120.0        79.0   2625.0          18.6
 406 │      31.0        4.0         119.0        82.0   2720.0          19.4   ⋯
                                                  3 columns and 385 rows omitted

Note that not all columns of the data frame have been displayed and we see 30 rows (they do not fit on my screen).

It is easy to change the default maximum width and height of the output by setting appropriate values in `ENV` dictionary.

In [11]:
ENV["COLUMNS"], ENV["LINES"] = 200, 15

(200, 15)

In [12]:
df1

406×9 DataFrame
 Row │ mpg       cylinders  displacement  horsepower  weight   acceleration  year     origin   name
     │ Float64?  Float64    Float64       Float64?    Float64  Float64       Float64  Float64  String
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │     18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu
   2 │     15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320
   3 │     18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite
  ⋮  │    ⋮          ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮
 404 │     32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage
 405 │     28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger
 406 │     31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10
                                                                                                         400 rows omitted

Now the display is much nicer.

Let us discuss an alternative way to read in the original file.
This time we will first read the data in directly from the file.

In [13]:
df_raw = CSV.File("auto.txt", header=[:metrics, :name]) |> DataFrame

406×2 DataFrame
 Row │ metrics                            name
     │ String                             String
─────┼──────────────────────────────────────────────────────────────
   1 │ 18.0   8.   307.0      130.0    …  chevrolet chevelle malibu
   2 │ 15.0   8.   350.0      165.0    …  buick skylark 320
   3 │ 18.0   8.   318.0      150.0    …  plymouth satellite
  ⋮  │                 ⋮                              ⋮
 404 │ 32.0   4.   135.0      84.00    …  dodge rampage
 405 │ 28.0   4.   120.0      79.00    …  ford ranger
 406 │ 31.0   4.   119.0      82.00    …  chevy s-10
                                                    400 rows omitted

Note that this time CSV.jl auto-detected that tab is the right delimiter to split the columns

(it was the only delimiter that produced consistent number of columns).

We will split `:metrics` column manually now

In [14]:
str_metrics = split.(df_raw.metrics)

406-element Vector{Vector{SubString{String}}}:
 ["18.0", "8.", "307.0", "130.0", "3504.", "12.0", "70.", "1."]
 ["15.0", "8.", "350.0", "165.0", "3693.", "11.5", "70.", "1."]
 ["18.0", "8.", "318.0", "150.0", "3436.", "11.0", "70.", "1."]
 ["16.0", "8.", "304.0", "150.0", "3433.", "12.0", "70.", "1."]
 ["17.0", "8.", "302.0", "140.0", "3449.", "10.5", "70.", "1."]
 ⋮
 ["27.0", "4.", "140.0", "86.00", "2790.", "15.6", "82.", "1."]
 ["44.0", "4.", "97.00", "52.00", "2130.", "24.6", "82.", "2."]
 ["32.0", "4.", "135.0", "84.00", "2295.", "11.6", "82.", "1."]
 ["28.0", "4.", "120.0", "79.00", "2625.", "18.6", "82.", "1."]
 ["31.0", "4.", "119.0", "82.00", "2720.", "19.4", "82.", "1."]

Now let us create an empty `df1_2` data frame that we will populate with appropriate columns.
The pattern we use here is typical when you e.g. perform repeated computations whose results you want to store in a `DataFrame`.

In [15]:
df1_2 = DataFrame([col => Float64[] for
                  col in [:mpg, :cylinders, :displacement, :horsepower, :weight, :acceleration, :year, :origin]])

0×8 DataFrame

Now we have a data frame that has 8 columns and 0 rows. It accepts floating point values. However in columns `:mpg` and `:horsepower` we have to allow the data frame to hold missing values. We do it using `allowmissing!` function

In [16]:
allowmissing!(df1_2, [:mpg, :horsepower])

0×8 DataFrame

Note that the element type of columns `:mpg` and `:horsepower` changed to `Float64?` which signals that that columns allows missing values.

Now we are ready to populate our data frame.

In [17]:
for row in str_metrics
    push!(df1_2, [v == "NA" ? missing : parse(Float64, v) for v in row])
end

In [18]:
df1_2

406×8 DataFrame
 Row │ mpg       cylinders  displacement  horsepower  weight   acceleration  year     origin
     │ Float64?  Float64    Float64       Float64?    Float64  Float64       Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────────────────────
   1 │     18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0
   2 │     15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0
   3 │     18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0
  ⋮  │    ⋮          ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮
 404 │     32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0
 405 │     28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0
 406 │     31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0
                                                                              400 rows omitted

finally, let us add a column `:name` from the `df_raw` data frame

In [19]:
df1_2.name = df_raw.name

406-element Vector{String}:
 "chevrolet chevelle malibu"
 "buick skylark 320"
 "plymouth satellite"
 "amc rebel sst"
 "ford torino"
 ⋮
 "ford mustang gl"
 "vw pickup"
 "dodge rampage"
 "ford ranger"
 "chevy s-10"

In [20]:
df1_2

406×9 DataFrame
 Row │ mpg       cylinders  displacement  horsepower  weight   acceleration  year     origin   name
     │ Float64?  Float64    Float64       Float64?    Float64  Float64       Float64  Float64  String
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │     18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu
   2 │     15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320
   3 │     18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite
  ⋮  │    ⋮          ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮
 404 │     32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage
 405 │     28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger
 406 │     31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10
                                                                                                         400 rows omitted

Before we move forward we should stress one very important thing that is related to `df1_2.name = df_raw.name` assignment. After this operation columns `:name` in both `df1_2` and `df_raw` are the same objects.
We can easily check it:

In [21]:
df1_2.name === df_raw.name

true

Such behavior is allowed for performance reasons. In this case we accepted it as we want to discard `df_raw` data frame and not use it in later analysis.
However, in general it would be safer to create a copy of `:name` column when assigning it ti `df1_2` data frame.

It can be achieved like this:
```
df1_2[:, :name] = df_raw.name
```
or like this
```
df1_2.name = df_raw[:, :name]
```
We could also write:
```
df1_2[:, :name] = df_raw[:, :name]
```
but this time there would be one unnecessary copy made (one when reading the data from `df_raw` the other when writing data to `df1_2`)

We can check that `df1` and `df1_2` data frames are equal using `isequal` funtion, so that we ended up with identical data frames.

In [22]:
isequal(df1_2, df1)

true

Note that as the data frames contain missing values comparing them with `missing` would produce `missing`.

In [23]:
df1_2 == df1

missing

Let us investigate yet another way to create our data frame, this time in one-shot (this line is more difficult to understand, but it shows you the power that DataFrames.jl gives you when working with data, in part 4 of the tutorial we will give some more examples of supported transformations):

In [24]:
df1_3 = select(df_raw,
               :metrics =>
               ByRow(x -> something.(tryparse.(Float64, split(x)), missing)) =>
               [:mpg, :cylinders, :displacement, :horsepower, :weight, :acceleration, :year, :origin],
               :name)

406×9 DataFrame
 Row │ mpg       cylinders  displacement  horsepower  weight   acceleration  year     origin   name
     │ Float64?  Float64    Float64       Float64?    Float64  Float64       Float64  Float64  String
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │     18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu
   2 │     15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320
   3 │     18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite
  ⋮  │    ⋮          ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮
 404 │     32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage
 405 │     28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger
 406 │     31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10
                                                                                                         400 rows omitted

Let us understand what is going on in the above expression.

The general rule os specifying transformations in `select` (also `transform` and `combine`) is:

`source_columns => transformation => destination_columns`

In this case we take `:metrics` column from the source data frame. We process it element by element,
which is signaled by `ByRow` (you can think of this as broadcasting).
Now each element is first `split` and then we try parsing it as `Float64`.
If we fail `tryparse` returns `nothing`, which we convert to `missing` using the `something` function.
As a result we obtain a vector of `Float64` or `Missing` values.
Since the last element of our transformation is a vector of culumn names this vector is expanded into
that many columns.

Finally we add the `:name` column from the source data frame

As above we check that the result is the same as `df1`.

In [25]:
isequal(df1_3, df1)

true

We can easily count the number of missing values in the `df1` data frame using the `eachcol` function that returns the iterator over columns of the data frame:

In [26]:
sum(count(ismissing, col) for col in eachcol(df1))

14

we could alternatively transform our data frame to a `Matrix` and use `count` on it (it would be slower though as unnecessary copies of data would be performed):

In [27]:
count(ismissing, Matrix(df1))

14

or if you like iterators:

In [28]:
count(ismissing, Iterators.flatten(eachcol(df1)))

14

Alternatively could use the `mapcols` function to get the number of missings per column:

In [29]:
mapcols(x -> count(ismissing, x), df1)

1×9 DataFrame
 Row │ mpg    cylinders  displacement  horsepower  weight  acceleration  year   origin  name
     │ Int64  Int64      Int64         Int64       Int64   Int64         Int64  Int64   Int64
─────┼────────────────────────────────────────────────────────────────────────────────────────
   1 │     8          0             0           6       0             0      0       0      0

also it is easy to find the rows containing missing values using the `filter` function:

In [30]:
filter(row -> any(ismissing, row), df1)

14×9 DataFrame
 Row │ mpg        cylinders  displacement  horsepower  weight   acceleration  year     origin   name
     │ Float64?   Float64    Float64       Float64?    Float64  Float64       Float64  Float64  String
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ missing          4.0         133.0       115.0   3090.0          17.5     70.0      2.0  citroen ds-21 pallas
   2 │ missing          8.0         350.0       165.0   4142.0          11.5     70.0      1.0  chevrolet chevelle concours (sw)
   3 │ missing          8.0         351.0       153.0   4034.0          11.0     70.0      1.0  ford torino (sw)
  ⋮  │     ⋮          ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                    ⋮
  12 │      34.5        4.0         100.0   missing     2320.0          15.8     81.0      2.0  renault 18i
  13 │ missing          4.0         121.0       110.0   2800.0          15.4     81.0      2.0  saab 900s
  14 │      23.0        4.0         151.0   missing     3035.0          20.5     82.0      1.0  amc concord dl
                                                                                                                   8 rows omitted

Assume we are interested in the brand of each car. We can extract it from `:name` column using broadcasting like this:

In [31]:
df1.brand = first.(split.(df1.name))

406-element Vector{SubString{String}}:
 "chevrolet"
 "buick"
 "plymouth"
 "amc"
 "ford"
 ⋮
 "ford"
 "vw"
 "dodge"
 "ford"
 "chevy"

In [32]:
df1

406×10 DataFrame
 Row │ mpg       cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64?  Float64    Float64       Float64?    Float64  Float64       Float64  Float64  String                     SubStrin…
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │     18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu  chevrolet
   2 │     15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320          buick
   3 │     18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite         plymouth
  ⋮  │    ⋮          ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
 404 │     32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage              dodge
 405 │     28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger                ford
 406 │     31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10                 chevy
                                                                                                                    400 rows omitted

Earlier we have shown how one can manually find rows that have missing values. A common operation is the reverse - i.e. selecting only rows that do not contain missing values. This can be achieved like this:

In [33]:
df2 = dropmissing(df1)

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     SubStrin…
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu  chevrolet
   2 │    15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320          buick
   3 │    18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite         plymouth
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
 390 │    32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage              dodge
 391 │    28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger                ford
 392 │    31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10                 chevy
                                                                                                                   386 rows omitted

Now let us find all rows that correspond to `"saab"` brand. You can do it in two ways, either indexing or using `filter` function:

In [34]:
df2[df2.brand .== "saab", :]

4×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name        brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String      SubStrin…
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    25.0        4.0         104.0        95.0   2375.0          17.5     70.0      2.0  saab 99e    saab
   2 │    24.0        4.0         121.0       110.0   2660.0          14.0     73.0      2.0  saab 99le   saab
   3 │    25.0        4.0         121.0       115.0   2671.0          13.5     75.0      2.0  saab 99le   saab
   4 │    21.6        4.0         121.0       115.0   2795.0          15.7     78.0      2.0  saab 99gle  saab

In [35]:
filter(:brand => ==("saab"), df2)

4×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name        brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String      SubStrin…
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    25.0        4.0         104.0        95.0   2375.0          17.5     70.0      2.0  saab 99e    saab
   2 │    24.0        4.0         121.0       110.0   2660.0          14.0     73.0      2.0  saab 99le   saab
   3 │    25.0        4.0         121.0       115.0   2671.0          13.5     75.0      2.0  saab 99le   saab
   4 │    21.6        4.0         121.0       115.0   2795.0          15.7     78.0      2.0  saab 99gle  saab

Note that the `:brand => ==("saab")` syntax means that we take elements of `:brand` column and pass it to `==("saab")` function.

Now `==("saab")` is just a shorthand for `x -> x == "saab"`.

Alternatively we could do the filtering operation in the following way (this is a bit slower but you might find it more readable):

In [36]:
filter(row -> row.brand == "saab", df2)

4×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name        brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String      SubStrin…
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    25.0        4.0         104.0        95.0   2375.0          17.5     70.0      2.0  saab 99e    saab
   2 │    24.0        4.0         121.0       110.0   2660.0          14.0     73.0      2.0  saab 99le   saab
   3 │    25.0        4.0         121.0       115.0   2671.0          13.5     75.0      2.0  saab 99le   saab
   4 │    21.6        4.0         121.0       115.0   2795.0          15.7     78.0      2.0  saab 99gle  saab

To finish this part of the tutorial let us save the `df2` file to auto2.csv and auto2.arrow files. We will use them later in the next parts of the course.

In [37]:
CSV.write("auto2.csv", df2)

"auto2.csv"

In [38]:
Arrow.write("auto2.arrow", df2)

"auto2.arrow"

Let us just quickly inspect what we have written to disk in auto2.csv (auto2.arrow file is binary) before we finish:

In [39]:
readlines("auto2.csv")

393-element Vector{String}:
 "mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,brand"
 "18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu,chevrolet"
 "15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320,buick"
 "18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite,plymouth"
 "16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst,amc"
 ⋮
 "27.0,4.0,140.0,86.0,2790.0,15.6,82.0,1.0,ford mustang gl,ford"
 "44.0,4.0,97.0,52.0,2130.0,24.6,82.0,2.0,vw pickup,vw"
 "32.0,4.0,135.0,84.0,2295.0,11.6,82.0,1.0,dodge rampage,dodge"
 "28.0,4.0,120.0,79.0,2625.0,18.6,82.0,1.0,ford ranger,ford"
 "31.0,4.0,119.0,82.0,2720.0,19.4,82.0,1.0,chevy s-10,chevy"

Note that CSV.jl by default used a comma to separate the fields in our file and written a header in the first row of the file.