# Working with groups of rows of a data frame

### Bogumił Kamiński

In [1]:
using DataFrames

In [2]:
using CSV

In [3]:
using Arrow

In [4]:
using Statistics

In [5]:
using FreqTables

In [6]:
using Pipe

This part of the tutorial assumes that you have run *3. Working with text files* part so that you have auto2.csv and auto2.arrow files in your working directory.

In [7]:
ENV["LINES"], ENV["COLUMNS"] = 15, 200

(15, 200)

In [8]:
df = CSV.File("auto2.csv") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String63                   String15
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu  chevrolet
   2 │    15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320          buick
   3 │    18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite         plymouth
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
 390 │    32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage              dodge
 391 │    28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger                ford
 392 │    31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10                 chevy
                                                                                                                   386 rows omitted

In [9]:
df2 = Arrow.Table("auto2.arrow") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu  chevrolet
   2 │    15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320          buick
   3 │    18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite         plymouth
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
 390 │    32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage              dodge
 391 │    28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger                ford
 392 │    31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10                 chevy
                                                                                                                   386 rows omitted

In [10]:
df == df2

true

In general using Arrow.jl is a preferred way to store your data frames, but note that in order to ensure maximum speed it uses its own `AbstractVector` type:

In [11]:
df2.mpg

392-element Arrow.Primitive{Float64, Vector{Float64}}:
 18.0
 15.0
 18.0
 16.0
 17.0
  ⋮
 27.0
 44.0
 32.0
 28.0
 31.0

To materialize columns into standard `Vector`s just `copy` a data frame:

In [12]:
df3 = copy(df2)

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu  chevrolet
   2 │    15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320          buick
   3 │    18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite         plymouth
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
 390 │    32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage              dodge
 391 │    28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger                ford
 392 │    31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10                 chevy
                                                                                                                   386 rows omitted

In [13]:
df3.mpg

392-element Vector{Float64}:
 18.0
 15.0
 18.0
 16.0
 17.0
  ⋮
 27.0
 44.0
 32.0
 28.0
 31.0

You can find more discussion about using Arrow.jl with DataFrames.jl [here](https://bkamins.github.io/julialang/2020/11/06/arrow.html).

We want to group our data frame by `:brand` column:

In [14]:
gdf = groupby(df, :brand)

GroupedDataFrame with 37 groups based on key: brand
First Group (43 rows): brand = "chevrolet"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String63                   String15
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu  chevrolet
   2 │    14.0        8.0         454.0       220.0   4354.0           9.0     70.0      1.0  chevrolet impala           chevrolet
   3 │    15.0        8.0         400.0       150.0   3761.0           9.5     70.0      1.0  chevrolet monte carlo      chevrolet
   4 │    28.0        4.0         140.0        90.0   2264.0          15.5     71.0      1.0  chevrolet vega 2300        chevrolet
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
  41 │    27.0        4.0         112.0        88.0   2640.0          18.6     82.0      1.0  chevrolet cavalier wagon   chevrolet
  42 │    34.0        4.0         112.0        88.0   2395.0          18.0     82.0      1.0  chevrolet cavalier 2-door  chevrolet
  43 │    27.0        4.0         151.0        90.0   2950.0          17.3     82.0      1.0  chevrolet camaro           chevrolet
                                                                                                                    36 rows omitted
⋮
Last Group (1 row): brand = "nissan"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name              brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String63          String15
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    36.0        4.0         120.0        88.0   2160.0          14.5     82.0      3.0  nissan stanza xe  nissan

Note that it is easy (and fast) to find an appropriate group by passing a `Tuple` of values of grouping columns (in our case it is just one column)

In [15]:
gdf[("ford",)]

48×10 SubDataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                      brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String63                  String15
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    17.0        8.0         302.0       140.0   3449.0          10.5     70.0      1.0  ford torino               ford
   2 │    15.0        8.0         429.0       198.0   4341.0          10.0     70.0      1.0  ford galaxie 500          ford
   3 │    21.0        6.0         200.0        85.0   2587.0          16.0     70.0      1.0  ford maverick             ford
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                ⋮                 ⋮
  46 │    22.0        6.0         232.0       112.0   2835.0          14.7     82.0      1.0  ford granada l            ford
  47 │    27.0        4.0         140.0        86.0   2790.0          15.6     82.0      1.0  ford mustang gl           ford
  48 │    28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger               ford
                                                                                                                  42 rows omitted

Using the `combine` function we can easily calculate some aggregates by group:

In [16]:
brand_mpg = combine(gdf, :mpg => mean)

37×2 DataFrame
 Row │ brand          mpg_mean
     │ String15       Float64
─────┼─────────────────────────
   1 │ chevrolet       20.4721
   2 │ buick           19.1824
   3 │ plymouth        21.7032
  ⋮  │       ⋮           ⋮
  35 │ vokswagen       29.8
  36 │ triumph         35.0
  37 │ nissan          36.0
                31 rows omitted

The `:mpg => mean` syntax means that we pass a column `:mpg` to be processed by the `mean` function for each group.

We could have added a target column name to the generated column in the following way:

In [17]:
combine(gdf, :mpg => mean => :mean_mpg)

37×2 DataFrame
 Row │ brand          mean_mpg
     │ String15       Float64
─────┼─────────────────────────
   1 │ chevrolet       20.4721
   2 │ buick           19.1824
   3 │ plymouth        21.7032
  ⋮  │       ⋮           ⋮
  35 │ vokswagen       29.8
  36 │ triumph         35.0
  37 │ nissan          36.0
                31 rows omitted

Now let us see how one can sort a data frame. In order to see alll rows of a data frame we temporarily change the number of rows printed.

In [18]:
ENV["LINES"] = 50

50

In [19]:
sort!(brand_mpg, :mpg_mean, rev=true) # sort! performs an in-place operation

37×2 DataFrame
 Row │ brand          mpg_mean
     │ String15       Float64
─────┼─────────────────────────
   1 │ vw              39.0167
   2 │ nissan          36.0
   3 │ triumph         35.0
   4 │ honda           33.7615
   5 │ datsun          31.113
   6 │ mazda           30.86
   7 │ subaru          30.525
   8 │ vokswagen       29.8
   9 │ renault         29.6667
  10 │ volkswagen      29.1067
  11 │ fiat            28.9125
  12 │ toyota          28.372
  13 │ audi            26.7143
  14 │ maxda           26.05
  15 │ opel            25.75
  16 │ mercedes        25.4
  17 │ capri           25.0
  18 │ saab            23.9
  19 │ bmw             23.75
  20 │ peugeot         23.6875
  21 │ mercedes-benz   23.25
  22 │ toyouta         23.0
  23 │ dodge           22.0607
  24 │ plymouth        21.7032
  25 │ volvo           21.1167
  26 │ oldsmobile      21.1
  27 │ chevrolet       20.4721
  28 │ pontiac         20.0125
  29 │ cadillac        19.75
  30 │ ford            19.475
  31 │ buick           19.1824
  32 │ mercury         19.1182
  33 │ amc             18.0704
  34 │ chevy           18.0
  35 │ chrysler        17.2667
  36 │ chevroelt       16.0
  37 │ hi               9.0

A typical data cleaning task is to check its consistency. In this case it would be making sure that each brand has a unique origin. We will do it in several ways.

First we use FreqTables.jl:

In [20]:
freqtable(df, :brand, :origin)

37×3 Named Matrix{Int64}
 brand ╲ origin │ 1.0  2.0  3.0
────────────────┼──────────────
"amc"           │  27    0    0
"audi"          │   0    7    0
"bmw"           │   0    2    0
"buick"         │  17    0    0
"cadillac"      │   2    0    0
"capri"         │   1    0    0
"chevroelt"     │   1    0    0
"chevrolet"     │  43    0    0
"chevy"         │   3    0    0
"chrysler"      │   6    0    0
"datsun"        │   0    0   23
"dodge"         │  28    0    0
"fiat"          │   0    8    0
"ford"          │  48    0    0
"hi"            │   1    0    0
"honda"         │   0    0   13
"maxda"         │   0    0    2
"mazda"         │   0    0   10
"mercedes"      │   0    1    0
"mercedes-benz" │   0    2    0
"mercury"       │  11    0    0
"nissan"        │   0    0    1
"oldsmobile"    │  10    0    0
"opel"          │   0    4    0
"peugeot"       │   0    8    0
"plymouth"      │  31    0    0
"pontiac"       │  16    0    0
"renault"       │   0    3    0
"saab"          │   0    4    0
"subaru"        │   0    0    4
"toyota"        │   0    0   25
"toyouta"       │   0    0    1
"triumph"       │   0    1    0
"vokswagen"     │   0    1    0
"volkswagen"    │   0   15    0
"volvo"         │   0    6    0
"vw"            │   0    6    0

Now let us create a chain of operations using Pipe.jl. Here `_` denotes the position of the argument passed from the previous step in the chain.

In [21]:
orig_brand = @pipe df |>
                   groupby(_, :brand) |>
                   combine(_, :origin => x -> length(unique(x)))

37×2 DataFrame
 Row │ brand          origin_function
     │ String15       Int64
─────┼────────────────────────────────
   1 │ chevrolet                    1
   2 │ buick                        1
   3 │ plymouth                     1
   4 │ amc                          1
   5 │ ford                         1
   6 │ pontiac                      1
   7 │ dodge                        1
   8 │ toyota                       1
   9 │ datsun                       1
  10 │ volkswagen                   1
  11 │ peugeot                      1
  12 │ audi                         1
  13 │ saab                         1
  14 │ bmw                          1
  15 │ chevy                        1
  16 │ hi                           1
  17 │ mercury                      1
  18 │ opel                         1
  19 │ fiat                         1
  20 │ oldsmobile                   1
  21 │ chrysler                     1
  22 │ mazda                        1
  23 │ volvo                        1
  24 │ renault                      1
  25 │ toyouta                      1
  26 │ maxda                        1
  27 │ honda                        1
  28 │ subaru                       1
  29 │ chevroelt                    1
  30 │ capri                        1
  31 │ vw                           1
  32 │ mercedes-benz                1
  33 │ cadillac                     1
  34 │ mercedes                     1
  35 │ vokswagen                    1
  36 │ triumph                      1
  37 │ nissan                       1

Let us make sure that we always get exactly one origin:

In [22]:
extrema(orig_brand.origin_function)

(1, 1)

We also could have grouped our data frame by two columns:

In [23]:
origin_brand2 = @pipe df |>
                      groupby(_, [:origin, :brand]) |>
                      combine(_, nrow)

37×3 DataFrame
 Row │ origin   brand          nrow
     │ Float64  String15       Int64
─────┼───────────────────────────────
   1 │     1.0  chevrolet         43
   2 │     1.0  buick             17
   3 │     1.0  plymouth          31
   4 │     1.0  amc               27
   5 │     1.0  ford              48
   6 │     1.0  pontiac           16
   7 │     1.0  dodge             28
   8 │     1.0  chevy              3
   9 │     1.0  hi                 1
  10 │     1.0  mercury           11
  11 │     1.0  oldsmobile        10
  12 │     1.0  chrysler           6
  13 │     1.0  chevroelt          1
  14 │     1.0  capri              1
  15 │     1.0  cadillac           2
  16 │     2.0  volkswagen        15
  17 │     2.0  peugeot            8
  18 │     2.0  audi               7
  19 │     2.0  saab               4
  20 │     2.0  bmw                2
  21 │     2.0  opel               4
  22 │     2.0  fiat               8
  23 │     2.0  volvo              6
  24 │     2.0  renault            3
  25 │     2.0  vw                 6
  26 │     2.0  mercedes-benz      2
  27 │     2.0  mercedes           1
  28 │     2.0  vokswagen          1
  29 │     2.0  triumph            1
  30 │     3.0  toyota            25
  31 │     3.0  datsun            23
  32 │     3.0  mazda             10
  33 │     3.0  toyouta            1
  34 │     3.0  maxda              2
  35 │     3.0  honda             13
  36 │     3.0  subaru             4
  37 │     3.0  nissan             1

Note that passing `nrow` as a combining operation gives us the number of rows per group.

Now we can do the `unstack` operation on the result to get a similar table that we got with `freqtable`:

In [24]:
origin_vs_brand = unstack(origin_brand2, :brand, :origin, :nrow)

37×4 DataFrame
 Row │ brand          1.0      2.0      3.0
     │ String15       Int64?   Int64?   Int64?
─────┼──────────────────────────────────────────
   1 │ chevrolet           43  missing  missing
   2 │ buick               17  missing  missing
   3 │ plymouth            31  missing  missing
   4 │ amc                 27  missing  missing
   5 │ ford                48  missing  missing
   6 │ pontiac             16  missing  missing
   7 │ dodge               28  missing  missing
   8 │ chevy                3  missing  missing
   9 │ hi                   1  missing  missing
  10 │ mercury             11  missing  missing
  11 │ oldsmobile          10  missing  missing
  12 │ chrysler             6  missing  missing
  13 │ chevroelt            1  missing  missing
  14 │ capri                1  missing  missing
  15 │ cadillac             2  missing  missing
  16 │ volkswagen     missing       15  missing
  17 │ peugeot        missing        8  missing
  18 │ audi           missing        7  missing
  19 │ saab           missing        4  missing
  20 │ bmw            missing        2  missing
  21 │ opel           missing        4  missing
  22 │ fiat           missing        8  missing
  23 │ volvo          missing        6  missing
  24 │ renault        missing        3  missing
  25 │ vw             missing        6  missing
  26 │ mercedes-benz  missing        2  missing
  27 │ mercedes       missing        1  missing
  28 │ vokswagen      missing        1  missing
  29 │ triumph        missing        1  missing
  30 │ toyota         missing  missing       25
  31 │ datsun         missing  missing       23
  32 │ mazda          missing  missing       10
  33 │ toyouta        missing  missing        1
  34 │ maxda          missing  missing        2
  35 │ honda          missing  missing       13
  36 │ subaru         missing  missing        4
  37 │ nissan         missing  missing        1

The only difference is that missing combinations are given as `missing` and `freqtable` produced `0` there. It is easy to fix using broadcasting:

In [25]:
coalesce.(origin_vs_brand, 0)

37×4 DataFrame
 Row │ brand          1.0    2.0    3.0
     │ String15       Int64  Int64  Int64
─────┼────────────────────────────────────
   1 │ chevrolet         43      0      0
   2 │ buick             17      0      0
   3 │ plymouth          31      0      0
   4 │ amc               27      0      0
   5 │ ford              48      0      0
   6 │ pontiac           16      0      0
   7 │ dodge             28      0      0
   8 │ chevy              3      0      0
   9 │ hi                 1      0      0
  10 │ mercury           11      0      0
  11 │ oldsmobile        10      0      0
  12 │ chrysler           6      0      0
  13 │ chevroelt          1      0      0
  14 │ capri              1      0      0
  15 │ cadillac           2      0      0
  16 │ volkswagen         0     15      0
  17 │ peugeot            0      8      0
  18 │ audi               0      7      0
  19 │ saab               0      4      0
  20 │ bmw                0      2      0
  21 │ opel               0      4      0
  22 │ fiat               0      8      0
  23 │ volvo              0      6      0
  24 │ renault            0      3      0
  25 │ vw                 0      6      0
  26 │ mercedes-benz      0      2      0
  27 │ mercedes           0      1      0
  28 │ vokswagen          0      1      0
  29 │ triumph            0      1      0
  30 │ toyota             0      0     25
  31 │ datsun             0      0     23
  32 │ mazda              0      0     10
  33 │ toyouta            0      0      1
  34 │ maxda              0      0      2
  35 │ honda              0      0     13
  36 │ subaru             0      0      4
  37 │ nissan             0      0      1

Note that column names of a data frame can be any sequence of characters as in this case:

In [26]:
names(origin_vs_brand)

4-element Vector{String}:
 "brand"
 "1.0"
 "2.0"
 "3.0"

In [27]:
propertynames(origin_vs_brand)

4-element Vector{Symbol}:
 :brand
 Symbol("1.0")
 Symbol("2.0")
 Symbol("3.0")

In such situations it is easiest to refer to such columns using strings, as `Symbol`s are not super easy to write when they have to represent sequences that are not allowed as variable names as you can see above.

In [28]:
origin_vs_brand."1.0"

37-element Vector{Union{Missing, Int64}}:
 43
 17
 31
 27
 48
 16
 28
  3
  1
 11
 10
  6
  1
  1
  2
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing

Finally let us show that columns of a data frame can hold any data type.

In [29]:
origin_brand3 = @pipe df |>
                      groupby(_, :origin) |>
                      combine(_, :brand => x -> Ref(unique(x)))

3×2 DataFrame
 Row │ origin   brand_function
     │ Float64  Array…
─────┼────────────────────────────────────────────
   1 │     1.0  String15["chevrolet", "buick", "…
   2 │     2.0  String15["volkswagen", "peugeot"…
   3 │     3.0  String15["toyota", "datsun", "ma…

Note that we used `Ref` to protect the return value of our function to be broadcasted (this is the same trick as in standard broadcasting in Julia). Otherwise we would get:

In [30]:
@pipe df |> groupby(_, :origin) |> combine(_, :brand => unique)

37×2 DataFrame
 Row │ origin   brand_unique
     │ Float64  String15
─────┼────────────────────────
   1 │     1.0  chevrolet
   2 │     1.0  buick
   3 │     1.0  plymouth
   4 │     1.0  amc
   5 │     1.0  ford
   6 │     1.0  pontiac
   7 │     1.0  dodge
   8 │     1.0  chevy
   9 │     1.0  hi
  10 │     1.0  mercury
  11 │     1.0  oldsmobile
  12 │     1.0  chrysler
  13 │     1.0  chevroelt
  14 │     1.0  capri
  15 │     1.0  cadillac
  16 │     2.0  volkswagen
  17 │     2.0  peugeot
  18 │     2.0  audi
  19 │     2.0  saab
  20 │     2.0  bmw
  21 │     2.0  opel
  22 │     2.0  fiat
  23 │     2.0  volvo
  24 │     2.0  renault
  25 │     2.0  vw
  26 │     2.0  mercedes-benz
  27 │     2.0  mercedes
  28 │     2.0  vokswagen
  29 │     2.0  triumph
  30 │     3.0  toyota
  31 │     3.0  datsun
  32 │     3.0  mazda
  33 │     3.0  toyouta
  34 │     3.0  maxda
  35 │     3.0  honda
  36 │     3.0  subaru
  37 │     3.0  nissan

Now we check if the groups are pairwise disjoint (this is a bit tricky, but it is much fun to be able to write such code in Julia):

In [31]:
for i in axes(origin_brand3, 1)
    for j in i+1:nrow(origin_brand3)
        println("$i vs $j => ", intersect(origin_brand3.brand_function[[i,j]]...))
    end
end

1 vs 2 => String15[]
1 vs 3 => String15[]
2 vs 3 => String15[]

We can also easily flatten the `origin_brand3` data frame so that `brand_function` column is expanded to span multiple rows (the case we have seen above when we omitted writing `Ref` in `combine`)

In [32]:
flatten(origin_brand3, :brand_function)

37×2 DataFrame
 Row │ origin   brand_function
     │ Float64  String15
─────┼─────────────────────────
   1 │     1.0  chevrolet
   2 │     1.0  buick
   3 │     1.0  plymouth
   4 │     1.0  amc
   5 │     1.0  ford
   6 │     1.0  pontiac
   7 │     1.0  dodge
   8 │     1.0  chevy
   9 │     1.0  hi
  10 │     1.0  mercury
  11 │     1.0  oldsmobile
  12 │     1.0  chrysler
  13 │     1.0  chevroelt
  14 │     1.0  capri
  15 │     1.0  cadillac
  16 │     2.0  volkswagen
  17 │     2.0  peugeot
  18 │     2.0  audi
  19 │     2.0  saab
  20 │     2.0  bmw
  21 │     2.0  opel
  22 │     2.0  fiat
  23 │     2.0  volvo
  24 │     2.0  renault
  25 │     2.0  vw
  26 │     2.0  mercedes-benz
  27 │     2.0  mercedes
  28 │     2.0  vokswagen
  29 │     2.0  triumph
  30 │     3.0  toyota
  31 │     3.0  datsun
  32 │     3.0  mazda
  33 │     3.0  toyouta
  34 │     3.0  maxda
  35 │     3.0  honda
  36 │     3.0  subaru
  37 │     3.0  nissan