# Working with groups of rows of a data frame

### Bogumił Kamiński

In [1]:
] activate .

  Activating project at `~/JuliaAcademy-DataFrames`

In [2]:
using DataFrames

In [3]:
using CSV

In [4]:
using Arrow

In [5]:
using Statistics

In [6]:
using FreqTables

In [7]:
using Pipe

This part of the tutorial assumes that you have run *3. Working with text files* part so that you have auto2.csv and auto2.arrow files in your working directory.

In [8]:
df = CSV.File("auto2.csv") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     ⋯
   2 │    15.0        8.0         350.0       165.0   3693.0          11.5
   3 │    18.0        8.0         318.0       150.0   3436.0          11.0
   4 │    16.0        8.0         304.0       150.0   3433.0          12.0
   5 │    17.0        8.0         302.0       140.0   3449.0          10.5     ⋯
   6 │    15.0        8.0         429.0       198.0   4341.0          10.0
   7 │    14.0        8.0         454.0       220.0   4354.0           9.0
   8 │    14.0        8.0         440.0       215.0   4312.0           8.5
   9 │    14.0        8.0         455.0       225.0   4425.0          10.0     ⋯
  10 │    15.0        8.0         390.0       190.0   3850.0           8.5
  11 │    15.0        8.0         383.0       170.0   3563.0          10.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋱
 383 │    26.0        4.0         156.0        92.0   2585.0          14.5
 384 │    22.0        6.0         232.0       112.0   2835.0          14.7     ⋯
 385 │    32.0        4.0         144.0        96.0   2665.0          13.9
 386 │    36.0        4.0         135.0        84.0   2370.0          13.0
 387 │    27.0        4.0         151.0        90.0   2950.0          17.3
 388 │    27.0        4.0         140.0        86.0   2790.0          15.6     ⋯
 389 │    44.0        4.0          97.0        52.0   2130.0          24.6
 390 │    32.0        4.0         135.0        84.0   2295.0          11.6
 391 │    28.0        4.0         120.0        79.0   2625.0          18.6
 392 │    31.0        4.0         119.0        82.0   2720.0          19.4     ⋯
                                                  4 columns and 371 rows omitted

In [9]:
df2 = Arrow.Table("auto2.arrow") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     ⋯
   2 │    15.0        8.0         350.0       165.0   3693.0          11.5
   3 │    18.0        8.0         318.0       150.0   3436.0          11.0
   4 │    16.0        8.0         304.0       150.0   3433.0          12.0
   5 │    17.0        8.0         302.0       140.0   3449.0          10.5     ⋯
   6 │    15.0        8.0         429.0       198.0   4341.0          10.0
   7 │    14.0        8.0         454.0       220.0   4354.0           9.0
   8 │    14.0        8.0         440.0       215.0   4312.0           8.5
   9 │    14.0        8.0         455.0       225.0   4425.0          10.0     ⋯
  10 │    15.0        8.0         390.0       190.0   3850.0           8.5
  11 │    15.0        8.0         383.0       170.0   3563.0          10.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋱
 383 │    26.0        4.0         156.0        92.0   2585.0          14.5
 384 │    22.0        6.0         232.0       112.0   2835.0          14.7     ⋯
 385 │    32.0        4.0         144.0        96.0   2665.0          13.9
 386 │    36.0        4.0         135.0        84.0   2370.0          13.0
 387 │    27.0        4.0         151.0        90.0   2950.0          17.3
 388 │    27.0        4.0         140.0        86.0   2790.0          15.6     ⋯
 389 │    44.0        4.0          97.0        52.0   2130.0          24.6
 390 │    32.0        4.0         135.0        84.0   2295.0          11.6
 391 │    28.0        4.0         120.0        79.0   2625.0          18.6
 392 │    31.0        4.0         119.0        82.0   2720.0          19.4     ⋯
                                                  4 columns and 371 rows omitted

In [10]:
df == df2

true

In general using Arrow.jl is a preferred way to store your data frames, but note that in order to ensure maximum speed it uses its own `AbstractVector` type:

In [11]:
df2.mpg

392-element Arrow.Primitive{Float64, Vector{Float64}}:
 18.0
 15.0
 18.0
 16.0
 17.0
 15.0
 14.0
 14.0
 14.0
 15.0
 15.0
 14.0
 15.0
  ⋮
 25.0
 38.0
 26.0
 22.0
 32.0
 36.0
 27.0
 27.0
 44.0
 32.0
 28.0
 31.0

To materialize columns into standard `Vector`s just `copy` a data frame:

In [12]:
df3 = copy(df2)

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     ⋯
   2 │    15.0        8.0         350.0       165.0   3693.0          11.5
   3 │    18.0        8.0         318.0       150.0   3436.0          11.0
   4 │    16.0        8.0         304.0       150.0   3433.0          12.0
   5 │    17.0        8.0         302.0       140.0   3449.0          10.5     ⋯
   6 │    15.0        8.0         429.0       198.0   4341.0          10.0
   7 │    14.0        8.0         454.0       220.0   4354.0           9.0
   8 │    14.0        8.0         440.0       215.0   4312.0           8.5
   9 │    14.0        8.0         455.0       225.0   4425.0          10.0     ⋯
  10 │    15.0        8.0         390.0       190.0   3850.0           8.5
  11 │    15.0        8.0         383.0       170.0   3563.0          10.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋱
 383 │    26.0        4.0         156.0        92.0   2585.0          14.5
 384 │    22.0        6.0         232.0       112.0   2835.0          14.7     ⋯
 385 │    32.0        4.0         144.0        96.0   2665.0          13.9
 386 │    36.0        4.0         135.0        84.0   2370.0          13.0
 387 │    27.0        4.0         151.0        90.0   2950.0          17.3
 388 │    27.0        4.0         140.0        86.0   2790.0          15.6     ⋯
 389 │    44.0        4.0          97.0        52.0   2130.0          24.6
 390 │    32.0        4.0         135.0        84.0   2295.0          11.6
 391 │    28.0        4.0         120.0        79.0   2625.0          18.6
 392 │    31.0        4.0         119.0        82.0   2720.0          19.4     ⋯
                                                  4 columns and 371 rows omitted

In [13]:
df3.mpg

392-element Vector{Float64}:
 18.0
 15.0
 18.0
 16.0
 17.0
 15.0
 14.0
 14.0
 14.0
 15.0
 15.0
 14.0
 15.0
  ⋮
 25.0
 38.0
 26.0
 22.0
 32.0
 36.0
 27.0
 27.0
 44.0
 32.0
 28.0
 31.0

You can find more discussion about using Arrow.jl with DataFrames.jl [here](https://bkamins.github.io/julialang/2020/11/06/arrow.html).

We want to group our data frame by `:brand` column:

In [14]:
gdf = groupby(df, :brand)

GroupedDataFrame with 37 groups based on key: brand
First Group (43 rows): brand = "chevrolet"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     ⋯
   2 │    14.0        8.0         454.0       220.0   4354.0           9.0
   3 │    15.0        8.0         400.0       150.0   3761.0           9.5
   4 │    28.0        4.0         140.0        90.0   2264.0          15.5
   5 │    17.0        6.0         250.0       100.0   3329.0          15.5     ⋯
   6 │    14.0        8.0         350.0       165.0   4209.0          12.0
   7 │    22.0        4.0         140.0        72.0   2408.0          19.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋱
  37 │    32.1        4.0          98.0        70.0   2120.0          15.5
  38 │    28.0        4.0         151.0        90.0   2678.0          16.5     ⋯
  39 │    23.5        6.0         173.0       110.0   2725.0          12.6
  40 │    28.0        4.0         112.0        88.0   2605.0          19.6
  41 │    27.0        4.0         112.0        88.0   2640.0          18.6
  42 │    34.0        4.0         112.0        88.0   2395.0          18.0     ⋯
  43 │    27.0        4.0         151.0        90.0   2950.0          17.3
                                                   4 columns and 29 rows omitted
⋮
Last Group (1 row): brand = "nissan"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋱
                                                     4 columns and 1 row omitted

Note that it is easy (and fast) to find an appropriate group by passing a `Tuple` of values of grouping columns (in our case it is just one column)

In [15]:
gdf[("ford",)]

48×10 SubDataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    17.0        8.0         302.0       140.0   3449.0          10.5     ⋯
   2 │    15.0        8.0         429.0       198.0   4341.0          10.0
   3 │    21.0        6.0         200.0        85.0   2587.0          16.0
   4 │    10.0        8.0         360.0       215.0   4615.0          14.0
   5 │    19.0        6.0         250.0        88.0   3302.0          15.5     ⋯
   6 │    14.0        8.0         351.0       153.0   4154.0          13.5
   7 │    13.0        8.0         400.0       170.0   4746.0          12.0
   8 │    18.0        6.0         250.0        88.0   3139.0          14.5
   9 │    21.0        4.0         122.0        86.0   2226.0          16.5     ⋯
  10 │    14.0        8.0         351.0       153.0   4129.0          13.0
  11 │    13.0        8.0         302.0       140.0   4294.0          16.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋱
  39 │    17.6        8.0         302.0       129.0   3725.0          13.4
  40 │    15.5        8.0         351.0       142.0   4054.0          14.3     ⋯
  41 │    26.4        4.0         140.0        88.0   2870.0          18.1
  42 │    34.4        4.0          98.0        65.0   2045.0          16.2
  43 │    29.9        4.0          98.0        65.0   2380.0          20.7
  44 │    20.2        6.0         200.0        88.0   3060.0          17.1     ⋯
  45 │    24.0        4.0         140.0        92.0   2865.0          16.4
  46 │    22.0        6.0         232.0       112.0   2835.0          14.7
  47 │    27.0        4.0         140.0        86.0   2790.0          15.6
  48 │    28.0        4.0         120.0        79.0   2625.0          18.6     ⋯
                                                   4 columns and 27 rows omitted

Using the `combine` function we can easily calculate some aggregates by group:

In [16]:
brand_mpg = combine(gdf, :mpg => mean)

37×2 DataFrame
 Row │ brand          mpg_mean
     │ String15       Float64
─────┼─────────────────────────
   1 │ chevrolet       20.4721
   2 │ buick           19.1824
   3 │ plymouth        21.7032
   4 │ amc             18.0704
   5 │ ford            19.475
   6 │ pontiac         20.0125
   7 │ dodge           22.0607
   8 │ toyota          28.372
   9 │ datsun          31.113
  10 │ volkswagen      29.1067
  11 │ peugeot         23.6875
  ⋮  │       ⋮           ⋮
  28 │ subaru          30.525
  29 │ chevroelt       16.0
  30 │ capri           25.0
  31 │ vw              39.0167
  32 │ mercedes-benz   23.25
  33 │ cadillac        19.75
  34 │ mercedes        25.4
  35 │ vokswagen       29.8
  36 │ triumph         35.0
  37 │ nissan          36.0
                16 rows omitted

The `:mpg => mean` syntax means that we pass a column `:mpg` to be processed by the `mean` function for each group.

We could have added a target column name to the generated column in the following way:

In [17]:
combine(gdf, :mpg => mean => :mean_mpg)

37×2 DataFrame
 Row │ brand          mean_mpg
     │ String15       Float64
─────┼─────────────────────────
   1 │ chevrolet       20.4721
   2 │ buick           19.1824
   3 │ plymouth        21.7032
   4 │ amc             18.0704
   5 │ ford            19.475
   6 │ pontiac         20.0125
   7 │ dodge           22.0607
   8 │ toyota          28.372
   9 │ datsun          31.113
  10 │ volkswagen      29.1067
  11 │ peugeot         23.6875
  ⋮  │       ⋮           ⋮
  28 │ subaru          30.525
  29 │ chevroelt       16.0
  30 │ capri           25.0
  31 │ vw              39.0167
  32 │ mercedes-benz   23.25
  33 │ cadillac        19.75
  34 │ mercedes        25.4
  35 │ vokswagen       29.8
  36 │ triumph         35.0
  37 │ nissan          36.0
                16 rows omitted

Now let us see how one can sort a data frame.

In [18]:
sort!(brand_mpg, :mpg_mean, rev=true) # sort! performs an in-place operation

37×2 DataFrame
 Row │ brand       mpg_mean
     │ String15    Float64
─────┼──────────────────────
   1 │ vw           39.0167
   2 │ nissan       36.0
   3 │ triumph      35.0
   4 │ honda        33.7615
   5 │ datsun       31.113
   6 │ mazda        30.86
   7 │ subaru       30.525
   8 │ vokswagen    29.8
   9 │ renault      29.6667
  10 │ volkswagen   29.1067
  11 │ fiat         28.9125
  ⋮  │     ⋮          ⋮
  28 │ pontiac      20.0125
  29 │ cadillac     19.75
  30 │ ford         19.475
  31 │ buick        19.1824
  32 │ mercury      19.1182
  33 │ amc          18.0704
  34 │ chevy        18.0
  35 │ chrysler     17.2667
  36 │ chevroelt    16.0
  37 │ hi            9.0
             16 rows omitted

A typical data cleaning task is to check its consistency. In this case it would be making sure that each brand has a unique origin. We will do it in several ways.

First we use FreqTables.jl:

In [19]:
freqtable(df, :brand, :origin)

37×3 Named Matrix{Int64}
           brand ╲ origin │ 1.0  2.0  3.0
──────────────────────────┼──────────────
String15("amc")           │  27    0    0
String15("audi")          │   0    7    0
String15("bmw")           │   0    2    0
String15("buick")         │  17    0    0
String15("cadillac")      │   2    0    0
String15("capri")         │   1    0    0
String15("chevroelt")     │   1    0    0
String15("chevrolet")     │  43    0    0
String15("chevy")         │   3    0    0
String15("chrysler")      │   6    0    0
String15("datsun")        │   0    0   23
⋮                             ⋮    ⋮    ⋮
String15("pontiac")       │  16    0    0
String15("renault")       │   0    3    0
String15("saab")          │   0    4    0
String15("subaru")        │   0    0    4
String15("toyota")        │   0    0   25
String15("toyouta")       │   0    0    1
String15("triumph")       │   0    1    0
String15("vokswagen")     │   0    1    0
String15("volkswagen")    │   0   15    0
String15("volvo")         │   0    6    0
String15("vw")            │   0    6    0

Now let us create a chain of operations using Pipe.jl. Here `_` denotes the position of the argument passed from the previous step in the chain.

In [20]:
orig_brand = @pipe df |>
                   groupby(_, :brand) |>
                   combine(_, :origin => x -> length(unique(x)))

37×2 DataFrame
 Row │ brand          origin_function
     │ String15       Int64
─────┼────────────────────────────────
   1 │ chevrolet                    1
   2 │ buick                        1
   3 │ plymouth                     1
   4 │ amc                          1
   5 │ ford                         1
   6 │ pontiac                      1
   7 │ dodge                        1
   8 │ toyota                       1
   9 │ datsun                       1
  10 │ volkswagen                   1
  11 │ peugeot                      1
  ⋮  │       ⋮               ⋮
  28 │ subaru                       1
  29 │ chevroelt                    1
  30 │ capri                        1
  31 │ vw                           1
  32 │ mercedes-benz                1
  33 │ cadillac                     1
  34 │ mercedes                     1
  35 │ vokswagen                    1
  36 │ triumph                      1
  37 │ nissan                       1
                       16 rows omitted

Let us make sure that we always get exactly one origin:

In [21]:
extrema(orig_brand.origin_function)

(1, 1)

We also could have grouped our data frame by two columns:

In [22]:
origin_brand2 = @pipe df |>
                      groupby(_, [:origin, :brand]) |>
                      combine(_, nrow)

37×3 DataFrame
 Row │ origin   brand          nrow
     │ Float64  String15       Int64
─────┼───────────────────────────────
   1 │     1.0  chevrolet         43
   2 │     1.0  buick             17
   3 │     1.0  plymouth          31
   4 │     1.0  amc               27
   5 │     1.0  ford              48
   6 │     1.0  pontiac           16
   7 │     1.0  dodge             28
   8 │     1.0  chevy              3
   9 │     1.0  hi                 1
  10 │     1.0  mercury           11
  11 │     1.0  oldsmobile        10
  ⋮  │    ⋮           ⋮          ⋮
  28 │     2.0  vokswagen          1
  29 │     2.0  triumph            1
  30 │     3.0  toyota            25
  31 │     3.0  datsun            23
  32 │     3.0  mazda             10
  33 │     3.0  toyouta            1
  34 │     3.0  maxda              2
  35 │     3.0  honda             13
  36 │     3.0  subaru             4
  37 │     3.0  nissan             1
                      16 rows omitted

Note that passing `nrow` as a combining operation gives us the number of rows per group.

Now we can do the `unstack` operation on the result to get a similar table that we got with `freqtable`:

In [23]:
origin_vs_brand = unstack(origin_brand2, :brand, :origin, :nrow)

37×4 DataFrame
 Row │ brand          1.0      2.0      3.0
     │ String15       Int64?   Int64?   Int64?
─────┼──────────────────────────────────────────
   1 │ chevrolet           43  missing  missing
   2 │ buick               17  missing  missing
   3 │ plymouth            31  missing  missing
   4 │ amc                 27  missing  missing
   5 │ ford                48  missing  missing
   6 │ pontiac             16  missing  missing
   7 │ dodge               28  missing  missing
   8 │ chevy                3  missing  missing
   9 │ hi                   1  missing  missing
  10 │ mercury             11  missing  missing
  11 │ oldsmobile          10  missing  missing
  ⋮  │       ⋮           ⋮        ⋮        ⋮
  28 │ vokswagen      missing        1  missing
  29 │ triumph        missing        1  missing
  30 │ toyota         missing  missing       25
  31 │ datsun         missing  missing       23
  32 │ mazda          missing  missing       10
  33 │ toyouta        missing  missing        1
  34 │ maxda          missing  missing        2
  35 │ honda          missing  missing       13
  36 │ subaru         missing  missing        4
  37 │ nissan         missing  missing        1
                                 16 rows omitted

The only difference is that missing combinations are given as `missing` and `freqtable` produced `0` there. It is easy to fix using broadcasting:

In [24]:
coalesce.(origin_vs_brand, 0)

37×4 DataFrame
 Row │ brand          1.0    2.0    3.0
     │ String15       Int64  Int64  Int64
─────┼────────────────────────────────────
   1 │ chevrolet         43      0      0
   2 │ buick             17      0      0
   3 │ plymouth          31      0      0
   4 │ amc               27      0      0
   5 │ ford              48      0      0
   6 │ pontiac           16      0      0
   7 │ dodge             28      0      0
   8 │ chevy              3      0      0
   9 │ hi                 1      0      0
  10 │ mercury           11      0      0
  11 │ oldsmobile        10      0      0
  ⋮  │       ⋮          ⋮      ⋮      ⋮
  28 │ vokswagen          0      1      0
  29 │ triumph            0      1      0
  30 │ toyota             0      0     25
  31 │ datsun             0      0     23
  32 │ mazda              0      0     10
  33 │ toyouta            0      0      1
  34 │ maxda              0      0      2
  35 │ honda              0      0     13
  36 │ subaru             0      0      4
  37 │ nissan             0      0      1
                           16 rows omitted

Note that column names of a data frame can be any sequence of characters as in this case:

In [25]:
names(origin_vs_brand)

4-element Vector{String}:
 "brand"
 "1.0"
 "2.0"
 "3.0"

In [26]:
propertynames(origin_vs_brand)

4-element Vector{Symbol}:
 :brand
 Symbol("1.0")
 Symbol("2.0")
 Symbol("3.0")

In such situations it is easiest to refer to such columns using strings, as `Symbol`s are not super easy to write when they have to represent sequences that are not allowed as variable names as you can see above.

In [27]:
origin_vs_brand."1.0"

37-element Vector{Union{Missing, Int64}}:
 43
 17
 31
 27
 48
 16
 28
  3
  1
 11
 10
  6
  1
  ⋮
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing

Finally let us show that columns of a data frame can hold any data type.

In [28]:
origin_brand3 = @pipe df |>
                      groupby(_, :origin) |>
                      combine(_, :brand => x -> Ref(unique(x)))

3×2 DataFrame
 Row │ origin   brand_function
     │ Float64  Array…
─────┼────────────────────────────────────────────
   1 │     1.0  String15["chevrolet", "buick", "…
   2 │     2.0  String15["volkswagen", "peugeot"…
   3 │     3.0  String15["toyota", "datsun", "ma…

Note that we used `Ref` to protect the return value of our function to be broadcasted (this is the same trick as in standard broadcasting in Julia). Otherwise we would get:

In [29]:
@pipe df |> groupby(_, :origin) |> combine(_, :brand => unique)

37×2 DataFrame
 Row │ origin   brand_unique
     │ Float64  String15
─────┼────────────────────────
   1 │     1.0  chevrolet
   2 │     1.0  buick
   3 │     1.0  plymouth
   4 │     1.0  amc
   5 │     1.0  ford
   6 │     1.0  pontiac
   7 │     1.0  dodge
   8 │     1.0  chevy
   9 │     1.0  hi
  10 │     1.0  mercury
  11 │     1.0  oldsmobile
  ⋮  │    ⋮           ⋮
  28 │     2.0  vokswagen
  29 │     2.0  triumph
  30 │     3.0  toyota
  31 │     3.0  datsun
  32 │     3.0  mazda
  33 │     3.0  toyouta
  34 │     3.0  maxda
  35 │     3.0  honda
  36 │     3.0  subaru
  37 │     3.0  nissan
               16 rows omitted

Now we check if the groups are pairwise disjoint (this is a bit tricky, but it is much fun to be able to write such code in Julia):

In [30]:
for i in axes(origin_brand3, 1)
    for j in i+1:nrow(origin_brand3)
        println("$i vs $j => ", intersect(origin_brand3.brand_function[[i,j]]...))
    end
end

1 vs 2 => String15[]
1 vs 3 => String15[]
2 vs 3 => String15[]

We can also easily flatten the `origin_brand3` data frame so that `brand_function` column is expanded to span multiple rows (the case we have seen above when we omitted writing `Ref` in `combine`)

In [31]:
flatten(origin_brand3, :brand_function)

37×2 DataFrame
 Row │ origin   brand_function
     │ Float64  String15
─────┼─────────────────────────
   1 │     1.0  chevrolet
   2 │     1.0  buick
   3 │     1.0  plymouth
   4 │     1.0  amc
   5 │     1.0  ford
   6 │     1.0  pontiac
   7 │     1.0  dodge
   8 │     1.0  chevy
   9 │     1.0  hi
  10 │     1.0  mercury
  11 │     1.0  oldsmobile
  ⋮  │    ⋮           ⋮
  28 │     2.0  vokswagen
  29 │     2.0  triumph
  30 │     3.0  toyota
  31 │     3.0  datsun
  32 │     3.0  mazda
  33 │     3.0  toyouta
  34 │     3.0  maxda
  35 │     3.0  honda
  36 │     3.0  subaru
  37 │     3.0  nissan
                16 rows omitted